# Pre-pandemic financial analysis

In [1]:
# Import warnings + watermark
from watermark import watermark
from warnings import filterwarnings
filterwarnings("ignore")
print(watermark())
print(watermark(iversions=True, globals_=globals()))

Last updated: 2022-11-30T12:43:40.868167-08:00

Python implementation: CPython
Python version       : 3.7.13
IPython version      : 7.31.1

Compiler    : Clang 12.0.0
OS          : Darwin
Release     : 22.1.0
Machine     : x86_64
Processor   : i386
CPU cores   : 8
Architecture: 64bit

In [2]:
#import the necessary modules
import pandas as pd
import numpy as np
#questionary
from pathlib import Path
import fire
import questionary
#API
import os
import json
import requests
from dotenv import load_dotenv
%matplotlib inline

In [3]:
POLYGON_API_KEY ='enZp2AUpH4pGXJJuQ1CbjdVXJIsBFBEl'

In [4]:
ticker_list = ["AMZN", "RTH", "AMT", "IYR", "XOM", "XLE", "SPY"]

In [5]:
import requests
import datetime
from time import sleep
from tqdm import tqdm
def get_prices(start_date,end_date,universe):
    data = pd.DataFrame()
    # end_at = datetime.datetime.now() 
    # begin_from = end_at + datetime.timedelta(days=-5000)
    for t in tqdm(universe):
        print(t)
        print(len(data))
        # for start in pd.date_range(start = begin_from, end = end_at,normalize=True,freq = '88D'):
        #     end = start + datetime.timedelta(days = 88)
        #     end = str(int((end - datetime.datetime(1970,1,1)).total_seconds()))
        #     start = str(int((start - datetime.datetime(1970,1,1)).total_seconds()))
        try:
            r = requests.get(f'https://api.polygon.io/v2/aggs/ticker/{t}/range/1/day/{start_date}/{end_date}?apiKey={POLYGON_API_KEY}')
        except json.JSONDecodeError:
            pass
        try:
            # print(r.json())
            temp_data = pd.DataFrame(r.json()['results'])
            temp_data['ticker'] = t
            data = data.append(temp_data, ignore_index=True)
            print(t+':'+str(pd.to_datetime(start_date, unit='s'))+':'+str(pd.to_datetime(end_date, unit='s')))
        except KeyError:
            print(f'{t} was not found')
            pass
        except ValueError:
            pass
        except ConnectionError as error:
            print(error)
            sleep(200)
            continue
        except TimeoutError as error:
            print(error)
            sleep(200)
            continue
        sleep(0.25)
#     data.to_csv(file_name,index = False)
    data.t = pd.to_datetime(data.t, unit = 'ms')
    columns_name = {'t': 'time', 'o': 'Open', 'c': 'Close', 'h': 'High', 'l': 'Low', 'v': 'Volume'} 
    data= data.rename(columns = columns_name)
    data = data[['time','ticker','Open', 'Close','High', 'Low', 'Volume']]
    data = data.set_index(['time', 'ticker'])
    data["daily_returns"] = data['Close'].groupby('ticker').pct_change()
    data = data.dropna()
    #data.to_csv(file_name, index = False)
    return data

In [6]:
# Create `start_date` and `end_date` variables for the period before the pandemic
start_date = "2017-03-01"
end_date = "2020-03-01"
all_data = get_prices(start_date=start_date, end_date=end_date, universe=ticker_list)

  0%|                                                                                                          | 0/7 [00:00<?, ?it/s]

AMZN
0

 14%|██████████████                                                                                    | 1/7 [00:00<00:05,  1.09it/s]

RTH
563

 29%|████████████████████████████                                                                      | 2/7 [00:04<00:11,  2.23s/it]

AMT
1126

 43%|██████████████████████████████████████████                                                        | 3/7 [00:04<00:06,  1.52s/it]

IYR
1689

 57%|████████████████████████████████████████████████████████                                          | 4/7 [00:05<00:03,  1.19s/it]

XOM
2252

 71%|██████████████████████████████████████████████████████████████████████                            | 5/7 [00:06<00:02,  1.01s/it]

XLE
2815

 86%|████████████████████████████████████████████████████████████████████████████████████              | 6/7 [00:07<00:00,  1.01it/s]

SPY
3378

100%|██████████████████████████████████████████████████████████████████████████████████████████████████| 7/7 [00:07<00:00,  1.10s/it]

In [7]:
all_data

,,Open,Close,High,Low,Volume,daily_returns
time,ticker,,,,,,
2017-12-04 05:00:00,AMZN,58.6925,56.6975,58.7600,56.400,118638300.0,-0.024433
2017-12-05 05:00:00,AMZN,56.4130,57.0785,57.9635,56.237,81595480.0,0.006720
2017-12-06 05:00:00,AMZN,56.8995,57.6175,57.7945,56.804,57066320.0,0.009443
2017-12-07 05:00:00,AMZN,57.8295,57.9895,58.1595,57.550,50231380.0,0.006456
2017-12-08 05:00:00,AMZN,58.5200,58.1000,58.6395,57.855,60567800.0,0.001906
...,...,...,...,...,...,...,...
2020-02-24 05:00:00,SPY,323.1400,322.4200,333.5623,321.240,161665075.0,-0.033165
2020-02-25 05:00:00,SPY,323.9400,312.6500,324.6100,311.690,219196902.0,-0.030302
2020-02-26 05:00:00,SPY,314.1800,311.5000,318.1100,310.700,194852264.0,-0.003678
2020-02-27 05:00:00,SPY,305.4600,297.5100,311.5637,297.510,283962598.0,-0.044912
2020-02-28 05:00:00,SPY,288.7000,296.2600,297.8920,285.540,381983496.0,-0.004202

In [8]:
all_data.index

MultiIndex([('2017-12-04 05:00:00', 'AMZN'),
            ('2017-12-05 05:00:00', 'AMZN'),
            ('2017-12-06 05:00:00', 'AMZN'),
            ('2017-12-07 05:00:00', 'AMZN'),
            ('2017-12-08 05:00:00', 'AMZN'),
            ('2017-12-11 05:00:00', 'AMZN'),
            ('2017-12-12 05:00:00', 'AMZN'),
            ('2017-12-13 05:00:00', 'AMZN'),
            ('2017-12-14 05:00:00', 'AMZN'),
            ('2017-12-15 05:00:00', 'AMZN'),
            ...
            ('2020-02-14 05:00:00',  'SPY'),
            ('2020-02-18 05:00:00',  'SPY'),
            ('2020-02-19 05:00:00',  'SPY'),
            ('2020-02-20 05:00:00',  'SPY'),
            ('2020-02-21 05:00:00',  'SPY'),
            ('2020-02-24 05:00:00',  'SPY'),
            ('2020-02-25 05:00:00',  'SPY'),
            ('2020-02-26 05:00:00',  'SPY'),
            ('2020-02-27 05:00:00',  'SPY'),
            ('2020-02-28 05:00:00',  'SPY')],
           names=['time', 'ticker'], length=3934)

In [9]:
idx = pd.IndexSlice

In [10]:
AMZN_daily_returns_df = all_data.loc[idx[:,'AMZN'],['daily_returns']]
AMZN_daily_returns_df

                            daily_returns
time                ticker
2017-12-04 05:00:00 AMZN        -0.024433
2017-12-05 05:00:00 AMZN         0.006720
2017-12-06 05:00:00 AMZN         0.009443
2017-12-07 05:00:00 AMZN         0.006456
2017-12-08 05:00:00 AMZN         0.001906
...                                   ...
2020-02-24 05:00:00 AMZN        -0.041356
2020-02-25 05:00:00 AMZN        -0.018191
2020-02-26 05:00:00 AMZN         0.003472
2020-02-27 05:00:00 AMZN        -0.048136
2020-02-28 05:00:00 AMZN        -0.000292

[562 rows x 1 columns]

In [11]:
RTH_daily_returns_df = all_data.loc[idx[:,'RTH'],['daily_returns']]
RTH_daily_returns_df

                            daily_returns
time                ticker
2017-12-04 05:00:00 RTH          0.016406
2017-12-05 05:00:00 RTH         -0.006855
2017-12-06 05:00:00 RTH         -0.003340
2017-12-07 05:00:00 RTH          0.002792
2017-12-08 05:00:00 RTH          0.010916
...                                   ...
2020-02-24 05:00:00 RTH         -0.026701
2020-02-25 05:00:00 RTH         -0.023793
2020-02-26 05:00:00 RTH         -0.001961
2020-02-27 05:00:00 RTH         -0.041607
2020-02-28 05:00:00 RTH         -0.017861

[562 rows x 1 columns]

In [12]:
AMT_daily_returns_df = all_data.loc[idx[:,'AMT'],['daily_returns']]
AMT_daily_returns_df

                            daily_returns
time                ticker
2017-12-04 05:00:00 AMT         -0.032310
2017-12-05 05:00:00 AMT          0.012880
2017-12-06 05:00:00 AMT          0.007388
2017-12-07 05:00:00 AMT          0.016291
2017-12-08 05:00:00 AMT         -0.011380
...                                   ...
2020-02-24 05:00:00 AMT         -0.007692
2020-02-25 05:00:00 AMT          0.004202
2020-02-26 05:00:00 AMT         -0.014098
2020-02-27 05:00:00 AMT         -0.040137
2020-02-28 05:00:00 AMT         -0.026317

[562 rows x 1 columns]

In [13]:
IYR_daily_returns_df = all_data.loc[idx[:,'IYR'],['daily_returns']]
IYR_daily_returns_df

                            daily_returns
time                ticker
2017-12-04 05:00:00 IYR         -0.007672
2017-12-05 05:00:00 IYR         -0.005890
2017-12-06 05:00:00 IYR         -0.000370
2017-12-07 05:00:00 IYR          0.004075
2017-12-08 05:00:00 IYR          0.003321
...                                   ...
2020-02-24 05:00:00 IYR         -0.013372
2020-02-25 05:00:00 IYR         -0.026803
2020-02-26 05:00:00 IYR         -0.010497
2020-02-27 05:00:00 IYR         -0.052410
2020-02-28 05:00:00 IYR         -0.031257

[562 rows x 1 columns]

In [14]:
XOM_daily_returns_df = all_data.loc[idx[:,'XOM'],['daily_returns']]
XOM_daily_returns_df

                            daily_returns
time                ticker
2017-12-04 05:00:00 XOM          0.001318
2017-12-05 05:00:00 XOM         -0.008137
2017-12-06 05:00:00 XOM         -0.007359
2017-12-07 05:00:00 XOM          0.003281
2017-12-08 05:00:00 XOM          0.001333
...                                   ...
2020-02-24 05:00:00 XOM         -0.046846
2020-02-25 05:00:00 XOM         -0.038325
2020-02-26 05:00:00 XOM         -0.021956
2020-02-27 05:00:00 XOM         -0.060177
2020-02-28 05:00:00 XOM          0.032517

[562 rows x 1 columns]

In [15]:
XLE_daily_returns_df = all_data.loc[idx[:,'XLE'],['daily_returns']]
XLE_daily_returns_df

                            daily_returns
time                ticker
2017-12-04 05:00:00 XLE         -0.000431
2017-12-05 05:00:00 XLE         -0.004307
2017-12-06 05:00:00 XLE         -0.012978
2017-12-07 05:00:00 XLE          0.002922
2017-12-08 05:00:00 XLE          0.009177
...                                   ...
2020-02-24 05:00:00 XLE         -0.046177
2020-02-25 05:00:00 XLE         -0.044152
2020-02-26 05:00:00 XLE         -0.030186
2020-02-27 05:00:00 XLE         -0.053478
2020-02-28 05:00:00 XLE         -0.000883

[562 rows x 1 columns]

In [16]:
SPY_daily_returns_df = all_data.loc[idx[:,'SPY'],['daily_returns']]
SPY_daily_returns_df

                            daily_returns
time                ticker
2017-12-04 05:00:00 SPY         -0.001210
2017-12-05 05:00:00 SPY         -0.003597
2017-12-06 05:00:00 SPY          0.000190
2017-12-07 05:00:00 SPY          0.003153
2017-12-08 05:00:00 SPY          0.005453
...                                   ...
2020-02-24 05:00:00 SPY         -0.033165
2020-02-25 05:00:00 SPY         -0.030302
2020-02-26 05:00:00 SPY         -0.003678
2020-02-27 05:00:00 SPY         -0.044912
2020-02-28 05:00:00 SPY         -0.004202

[562 rows x 1 columns]

In [17]:
tech_daily_returns = pd.concat([AMZN_daily_returns_df, RTH_daily_returns_df], keys=["AMZN","RTH"])
tech_daily_returns

                                 daily_returns
     time                ticker
AMZN 2017-12-04 05:00:00 AMZN        -0.024433
     2017-12-05 05:00:00 AMZN         0.006720
     2017-12-06 05:00:00 AMZN         0.009443
     2017-12-07 05:00:00 AMZN         0.006456
     2017-12-08 05:00:00 AMZN         0.001906
...                                        ...
RTH  2020-02-24 05:00:00 RTH         -0.026701
     2020-02-25 05:00:00 RTH         -0.023793
     2020-02-26 05:00:00 RTH         -0.001961
     2020-02-27 05:00:00 RTH         -0.041607
     2020-02-28 05:00:00 RTH         -0.017861

[1124 rows x 1 columns]

In [18]:
RE_daily_returns = pd.concat([AMT_daily_returns_df, IYR_daily_returns_df], keys=["AMT","IYR"])
RE_daily_returns

                                daily_returns
    time                ticker
AMT 2017-12-04 05:00:00 AMT         -0.032310
    2017-12-05 05:00:00 AMT          0.012880
    2017-12-06 05:00:00 AMT          0.007388
    2017-12-07 05:00:00 AMT          0.016291
    2017-12-08 05:00:00 AMT         -0.011380
...                                       ...
IYR 2020-02-24 05:00:00 IYR         -0.013372
    2020-02-25 05:00:00 IYR         -0.026803
    2020-02-26 05:00:00 IYR         -0.010497
    2020-02-27 05:00:00 IYR         -0.052410
    2020-02-28 05:00:00 IYR         -0.031257

[1124 rows x 1 columns]

In [19]:
energy_daily_returns = pd.concat([XOM_daily_returns_df, XLE_daily_returns_df], keys=["XOM","XLE"])
energy_daily_returns

                                daily_returns
    time                ticker
XOM 2017-12-04 05:00:00 XOM          0.001318
    2017-12-05 05:00:00 XOM         -0.008137
    2017-12-06 05:00:00 XOM         -0.007359
    2017-12-07 05:00:00 XOM          0.003281
    2017-12-08 05:00:00 XOM          0.001333
...                                       ...
XLE 2020-02-24 05:00:00 XLE         -0.046177
    2020-02-25 05:00:00 XLE         -0.044152
    2020-02-26 05:00:00 XLE         -0.030186
    2020-02-27 05:00:00 XLE         -0.053478
    2020-02-28 05:00:00 XLE         -0.000883

[1124 rows x 1 columns]

### A) Analyzing Each Stock and ETF Individually

In [20]:
import warnings
warnings.filterwarnings("ignore")

In [21]:
from pytz import timezone
#from IPython.display import clear_output
from time import sleep
import numpy as np
import pyfolio as pf
import sqlalchemy

In [22]:

pre_pandemic_prices_df = pd.concat([AMZN_daily_returns_df.reset_index(level = 1,drop=True), RTH_daily_returns_df.reset_index(level = 1,drop=True), AMT_daily_returns_df.reset_index(level = 1,drop=True), IYR_daily_returns_df.reset_index(level = 1,drop=True), XOM_daily_returns_df.reset_index(level = 1,drop=True), XLE_daily_returns_df.reset_index(level = 1,drop=True), SPY_daily_returns_df.reset_index(level = 1,drop=True)],axis=0, keys=["AMZN","RTH","AMT","IYR","XOM","XLE","SPY"])
pre_pandemic_prices_df

                          daily_returns
     time
AMZN 2017-12-04 05:00:00      -0.024433
     2017-12-05 05:00:00       0.006720
     2017-12-06 05:00:00       0.009443
     2017-12-07 05:00:00       0.006456
     2017-12-08 05:00:00       0.001906
...                                 ...
SPY  2020-02-24 05:00:00      -0.033165
     2020-02-25 05:00:00      -0.030302
     2020-02-26 05:00:00      -0.003678
     2020-02-27 05:00:00      -0.044912
     2020-02-28 05:00:00      -0.004202

[3934 rows x 1 columns]

In [23]:
database_connection_string = 'sqlite:///'

In [24]:
engine = sqlalchemy.create_engine(database_connection_string)

In [25]:
engine.table_names()

[]

In [26]:
#Summary statistics for AMZN stock using .std() and .mean()
display(AMZN_daily_returns_df.std())
display(AMZN_daily_returns_df.mean())

daily_returns    0.01878
dtype: float64

daily_returns    0.001036
dtype: float64

In [27]:
#Summary statistics for RTH stock using .std() and .mean()
RTH_daily_returns_df.std()
RTH_daily_returns_df.mean()

daily_returns    0.000472
dtype: float64

In [28]:
#Summary statistics for AMT stock using .std() and .mean()
AMT_daily_returns_df.std()
AMT_daily_returns_df.mean()

daily_returns    0.000889
dtype: float64

In [29]:
#Summary statistics for IYR stock using .std() and .mean()
IYR_daily_returns_df.std()
IYR_daily_returns_df.mean()

daily_returns    0.000153
dtype: float64

In [30]:
#Summary statistics for XOM stock using .std() and .mean()
XOM_daily_returns_df.std()
XOM_daily_returns_df.mean()

daily_returns   -0.000772
dtype: float64

In [31]:
#Summary statistics for XLE stock using .std() and .mean()
XLE_daily_returns_df.std()
XLE_daily_returns_df.mean()

daily_returns   -0.000677
dtype: float64

In [32]:
pre_pandemic_prices_df.describe()

       daily_returns
count    3934.000000
mean        0.000193
std         0.012797
min        -0.078197
25%        -0.005803
50%         0.000857
75%         0.007189
max         0.094452

In [33]:
#Summary statistics for AMZN using .describe()
AMZN_daily_returns_df.describe()

       daily_returns
count     562.000000
mean        0.001036
std         0.018780
min        -0.078197
25%        -0.007024
50%         0.001641
75%         0.010059
max         0.094452

In [34]:
#Summary statistics for RTH using .describe()
RTH_daily_returns_df.describe()

       daily_returns
count     562.000000
mean        0.000472
std         0.010459
min        -0.041607
25%        -0.004500
50%         0.001401
75%         0.005990
max         0.058514

In [35]:
#Summary statistics for AMT using .describe()
AMT_daily_returns_df.describe()

       daily_returns
count     562.000000
mean        0.000889
std         0.012321
min        -0.045929
25%        -0.005953
50%         0.001409
75%         0.008195
max         0.053200

In [36]:
#Summary statistics for IYR using .describe()
IYR_daily_returns_df.describe()

       daily_returns
count     562.000000
mean        0.000153
std         0.009113
min        -0.052410
25%        -0.003999
50%         0.001148
75%         0.005942
max         0.032778

In [37]:
#Summary statistics for XOM using .describe()
XOM_daily_returns_df.describe()

       daily_returns
count     562.000000
mean       -0.000772
std         0.013299
min        -0.060177
25%        -0.008184
50%        -0.000548
75%         0.007635
max         0.047779

In [38]:
#Summary statistics for XLE using .describe()
XLE_daily_returns_df.describe()

       daily_returns
count     562.000000
mean       -0.000677
std         0.013422
min        -0.053478
25%        -0.007529
50%        -0.000064
75%         0.007658
max         0.062221

In [39]:
# Variance Of Amzn
AMZN_var=AMZN_daily_returns_df.var()
AMZN_var

daily_returns    0.000353
dtype: float64

In [40]:
# Variance For RTH
RTH_var=RTH_daily_returns_df.var()
RTH_var

daily_returns    0.000109
dtype: float64

In [41]:
# Variance Of IYR
IYR_var=IYR_daily_returns_df.var()
IYR_var

daily_returns    0.000083
dtype: float64

In [42]:
# Variance Of AMT
AMT_var=AMT_daily_returns_df.var()
AMT_var

daily_returns    0.000152
dtype: float64

In [43]:
# Variance Of XOM
XOM_var=XOM_daily_returns_df.var()
XOM_var

daily_returns    0.000177
dtype: float64

In [44]:
# Variance Of XLE
XLE_var=XLE_daily_returns_df.var()
XLE_var

daily_returns    0.00018
dtype: float64

In [45]:
# Covariance for Each Stock and ETF
AMZN_Cov=AMZN_daily_returns_df.reset_index(level = 1, drop= True)['daily_returns'].cov(SPY_daily_returns_df.reset_index(level = 1, drop= True)['daily_returns'])
AMZN_Cov

0.00012939896243668723

In [46]:
RTH_Cov=RTH_daily_returns_df.reset_index(level = 1, drop= True)['daily_returns'].cov(SPY_daily_returns_df.reset_index(level = 1, drop= True)['daily_returns'])
RTH_Cov

8.601297759202322e-05

In [47]:
# Covariance for Each Stock and ETF
AMT_Cov=AMT_daily_returns_df.reset_index(level = 1, drop= True)['daily_returns'].cov(SPY_daily_returns_df.reset_index(level = 1, drop= True)['daily_returns'])
AMT_Cov

3.365956449205652e-05

In [48]:
IYR_Cov=IYR_daily_returns_df.reset_index(level = 1, drop= True)['daily_returns'].cov(SPY_daily_returns_df.reset_index(level = 1, drop= True)['daily_returns'])
IYR_Cov

4.901942026185568e-05

In [49]:
XOM_Cov=XOM_daily_returns_df.reset_index(level = 1, drop= True)['daily_returns'].cov(SPY_daily_returns_df.reset_index(level = 1, drop= True)['daily_returns'])
XOM_Cov

8.38898443625193e-05

In [50]:
XLE_Cov=XLE_daily_returns_df.reset_index(level = 1, drop= True)['daily_returns'].cov(SPY_daily_returns_df.reset_index(level = 1, drop= True)['daily_returns'])
XLE_Cov

9.412789241032252e-05

In [51]:
year_trading_days = 252

In [52]:
# Annualized returns of RTH
RTH_Annual_Ret = RTH_daily_returns_df.mean()*252
RTH_Annual_Ret

daily_returns    0.119018
dtype: float64

In [53]:
# Annualized returns of IYR
IYR_Annual_Ret = IYR_daily_returns_df.mean()*252
IYR_Annual_Ret

daily_returns    0.038453
dtype: float64

In [54]:
# Annualized returns of XLE
XLE_Annual_Ret = XLE_daily_returns_df.mean()*252
XLE_Annual_Ret

daily_returns   -0.170551
dtype: float64

In [55]:
# Annualized std dev of RTH
annual_std_dev_RTH = RTH_daily_returns_df.std() * np.sqrt(year_trading_days)
annual_std_dev_RTH

daily_returns    0.166037
dtype: float64

In [56]:
# Annualized std dev of IYR
annual_std_dev_IYR = IYR_daily_returns_df.std() * np.sqrt(year_trading_days)
annual_std_dev_IYR

daily_returns    0.144664
dtype: float64

In [57]:
# Annualized std dev of XLE
annual_std_dev_XLE = XLE_daily_returns_df.std() * np.sqrt(year_trading_days)
annual_std_dev_XLE

daily_returns    0.213068
dtype: float64

In [58]:
result = pf.create_returns_tear_sheet(AMZN_daily_returns_df.reset_index(level = 1,drop = True).daily_returns,
                                           return_fig=True)
#result.savefig("amzn_prepan_tearsheet.png", format = "png")

AttributeError: 'numpy.int64' object has no attribute 'to_pydatetime'

In [ ]:
result = pf.create_returns_tear_sheet(RTH_daily_returns_df.reset_index(level = 1,drop = True).daily_returns,
                                           return_fig=True)
#result.savefig("RTH_prepan_tearsheet.png", format = "png")

In [ ]:
result = pf.create_returns_tear_sheet(AMT_daily_returns_df.reset_index(level = 1,drop = True).daily_returns,
                                           return_fig=True)
#result.savefig("amt_prepan_tearsheet.png", format = "png")

In [ ]:
result = pf.create_returns_tear_sheet(IYR_daily_returns_df.reset_index(level = 1,drop = True).daily_returns,
                                           return_fig=True)
#result.savefig("iyr_prepan_tearsheet.png", format = "png")

In [ ]:
result = pf.create_returns_tear_sheet(XOM_daily_returns_df.reset_index(level = 1,drop = True).daily_returns,
                                           return_fig=True)
#result.savefig("xom_prepan_tearsheet.png", format = "png")

In [ ]:
result = pf.create_returns_tear_sheet(XLE_daily_returns_df.reset_index(level = 1,drop = True).daily_returns,
                                           return_fig=True)
#result.savefig("xle_prepan_tearsheet.png", format = "png")

In [ ]:
result = pf.create_returns_tear_sheet(SPY_daily_returns_df.reset_index(level = 1,drop = True).daily_returns,
                                           return_fig=True)
#result.savefig("spy_prepan_tearsheet.png", format = "png")