# Portfolio Analyzer

In [ ]:
pip install polygon-api-client

In [ ]:
from polygon import RESTClient

In [ ]:
#from local_settings import polygon as settings

In [ ]:
#import the necessary modules
import pandas as pd
#questionary
from pathlib import Path
import fire
import questionary
#API
import os
import json
import requests
from dotenv import load_dotenv
from MCForecastTools import MCSimulation
%matplotlib inline
#

In [ ]:
from IPython.display import display_html

In [ ]:
#%env POLYGON_API_KEY 'enZp2AUpH4pGXJJuQ1CbjdVXJIsBFBEl'

In [ ]:
# Load .env enviroment variables into the notebook
#code lines in terminal

In [ ]:
# Get the API key from the environment variable and store as Python variable
#polygon_api_key = os.getenv("POLYGON_API_KEY")

# Using the type funcion, confirm that the Nasdaq API key is available for use in the notebook
#type(polygon_api_key)

In [ ]:
# Create `start_date` and `end_date` variables for the period before the pandemic
#start_date = pd.Timestamp("2017-01-01", tz="America/New_York").isoformat()
#end_date = pd.Timestamp("2020-02-01", tz="America/New_York").isoformat()

#example
#big_mac_usa = "https://data.nasdaq.com/api/v3/datasets/ECONOMIST/BIGMAC_USA?start_date=" + start_date + "&end_date=" + end_date + "&api_key=" + nasdaq_api_key

In [ ]:
#Create endpoint URLs for all the stocks and related ETFs for the period prior to the pandemic
AMZN_url = "https://api.polygon.io/v2/aggs/ticker/AMZN/range/1/day/2017-01-01/2019-02-01?apiKey=rHtIrGbGhJY6umnXSqp6hYgTM3XnHI2_"

RTH_url = "https://api.polygon.io/v2/aggs/ticker/RTH/range/1/day/2017-01-01/2019-02-01?apiKey=rHtIrGbGhJY6umnXSqp6hYgTM3XnHI2_"

AMT_url = "https://api.polygon.io/v2/aggs/ticker/AMT/range/1/day/2017-01-01/2019-02-01?apiKey=rHtIrGbGhJY6umnXSqp6hYgTM3XnHI2_"

IYR_url = "https://api.polygon.io/v2/aggs/ticker/IYR/range/1/day/2017-01-01/2019-02-01?apiKey=rHtIrGbGhJY6umnXSqp6hYgTM3XnHI2_"

XOM_url = "https://api.polygon.io/v2/aggs/ticker/XOM/range/1/day/2017-01-01/2019-02-01?apiKey=rHtIrGbGhJY6umnXSqp6hYgTM3XnHI2_"

XLE_url = "https://api.polygon.io/v2/aggs/ticker/XLE/range/1/day/2017-01-01/2019-02-01?apiKey=rHtIrGbGhJY6umnXSqp6hYgTM3XnHI2_"

SPY_url = "https://api.polygon.io/v2/aggs/ticker/SPY/range/1/day/2017-01-01/2019-02-01?apiKey=rHtIrGbGhJY6umnXSqp6hYgTM3XnHI2_"

In [ ]:
# Make the API call for the AMZN information using requests.get
AMZN_response = requests.get(AMZN_url).json()

# Use the json.dumps function to review the response data from the API call
# Use the indent and sort_keys parameters to make the response object readable
print(json.dumps(AMZN_response, indent=2, sort_keys=True))

In [ ]:
# Make the API call for the RTH information using requests.get
RTH_response = requests.get(RTH_url).json()

# Use the json.dumps function to review the response data from the API call
# Use the indent and sort_keys parameters to make the response object readable
print(json.dumps(RTH_response, indent=2, sort_keys=True))

In [ ]:
# Make the API call for the AMT information using requests.get
AMT_response = requests.get(AMT_url).json()

# Use the json.dumps function to review the response data from the API call
# Use the indent and sort_keys parameters to make the response object readable
print(json.dumps(AMT_response, indent=2, sort_keys=True))

In [ ]:
# Make the API call for the IYR information using requests.get
IYR_response = requests.get(IYR_url).json()

# Use the json.dumps function to review the response data from the API call
# Use the indent and sort_keys parameters to make the response object readable
print(json.dumps(IYR_response, indent=2, sort_keys=True))

In [ ]:
# Make the API call for the XOM information using requests.get
XOM_response = requests.get(XOM_url).json()

# Use the json.dumps function to review the response data from the API call
# Use the indent and sort_keys parameters to make the response object readable
print(json.dumps(XOM_response, indent=2, sort_keys=True))

In [ ]:
# Make the API call for the XLE information using requests.get
XLE_response = requests.get(XLE_url).json()

# Use the json.dumps function to review the response data from the API call
# Use the indent and sort_keys parameters to make the response object readable
print(json.dumps(XLE_response, indent=2, sort_keys=True))

In [ ]:
# Make the API call for the AMZN information using requests.get
SPY_response = requests.get(SPY_url).json()

# Use the json.dumps function to review the response data from the API call
# Use the indent and sort_keys parameters to make the response object readable
print(json.dumps(SPY_response, indent=2, sort_keys=True))

In [ ]:
#Create REST object
#client = RESTClient("enZp2AUpH4pGXJJuQ1CbjdVXJIsBFBEl")
#client

In [ ]:
#Create a dataframe to store the AMZN data
AMZN_df = pd.DataFrame(AMZN_response["results"])

#Review the dataframe
AMZN_df

In [ ]:
#Create a Dataframe to store the RTH data
RTH_df = pd.DataFrame(RTH_response["results"])

#Review the dataframe
RTH_df

In [ ]:
#Create a Dataframe to store the AMT data
AMT_df = pd.DataFrame(AMT_response["results"])

#Review the dataframe
AMT_df

In [ ]:
#Create a Dataframe to store the IYR data
IYR_df = pd.DataFrame(IYR_response["results"])

#Review the dataframe
IYR_df

In [ ]:
#Create a Dataframe to store the XOM data
XOM_df = pd.DataFrame(XOM_response["results"])

#Review the dataframe
XOM_df

In [ ]:
#Create a Dataframe to store the XLE data
XLE_df = pd.DataFrame(XLE_response["results"])

#Review the dataframe
XLE_df

In [ ]:
#Create a Dataframe to store the SPY data
SPY_df = pd.DataFrame(SPY_response["results"])

#Review the dataframe
SPY_df

In [ ]:
#Create a new dataframe with only the closing prices for each stock and ETF
AMZN_price_df = pd.DataFrame(AMZN_df["c"])

#Review the dataframe
AMZN_price_df

#Drop the index column

In [ ]:
#Create a new dataframe with only the closing prices for each stock and ETF
RTH_price_df = pd.DataFrame(RTH_df["c"])

#Review the dataframe
RTH_price_df

#Drop the index column

In [ ]:
#Create a new dataframe with only the closing prices for each stock and ETF
RTH_price_df = pd.DataFrame(RTH_df["c"])

#Review the dataframe
RTH_price_df

#Drop the index column

In [ ]:
#Create a new dataframe with only the closing prices for each stock and ETF
AMT_price_df = pd.DataFrame(AMT_df["c"])

#Review the dataframe
AMT_price_df

#Drop the index column

In [ ]:
#Create a new dataframe with only the closing prices for each stock and ETF
IYR_price_df = pd.DataFrame(IYR_df["c"])

#Review the dataframe
IYR_price_df

#Drop the index column

In [ ]:
#Create a new dataframe with only the closing prices for each stock and ETF
XOM_price_df = pd.DataFrame(XOM_df["c"])

#Review the dataframe
XOM_price_df

#Drop the index column

In [ ]:
#Create a new dataframe with only the closing prices for each stock and ETF
XLE_price_df = pd.DataFrame(XLE_df["c"])

#Review the dataframe
XLE_price_df

#Drop the index column

In [ ]:
#Create a new dataframe with only the closing prices for each stock and ETF
SPY_price_df = pd.DataFrame(SPY_df["c"])

#Review the dataframe
SPY_price_df

#Drop the index column

In [ ]:
#Concatenate the tech stock and tech etf price dataframe to create one dataframe of prices for each sector
tech_portfolio_prices_df = pd.concat([AMZN_price_df, RTH_price_df],axis=1, keys=["AMZN","RTH"])

#Review the dataframe
tech_portfolio_prices_df

#Drop NaN values
#tech_portfolio_prices_df_.dropna()

In [ ]:
#Concatenate the tech stock and tech etf price dataframe to create one dataframe of prices for each sector
RE_portfolio_prices_df = pd.concat([AMT_price_df, IYR_price_df],axis=1, keys=["AMT","IYR"])

#Review the dataframe
RE_portfolio_prices_df

#Drop NaN values
#RE_portfolio_prices_df = RE_portfolio_prices_df_.dropna()

In [ ]:
#Concatenate the tech stock and tech etf price dataframe to create one dataframe of prices for each sector
energy_portfolio_prices_df = pd.concat([XOM_price_df, XLE_price_df],axis=1, keys=["XOM","XLE"])

#Review the dataframe
energy_portfolio_prices_df

In [51]:
#Tech Daily Returns
tech_daily_returns = tech_portfolio_prices_df.pct_change().dropna()
tech_daily_returns

         AMZN       RTH
            c         c
1    0.006793 -0.000719
2   -0.008928 -0.009228
3    0.009408  0.020080
4   -0.006515  0.009961
5   -0.003160 -0.000587
..        ...       ...
301 -0.019562 -0.004622
302 -0.026870 -0.006057
303  0.048027  0.014016
304  0.028915  0.013522
305 -0.053819 -0.018283

[305 rows x 2 columns]

In [70]:
#Tech Daily Returns
RE_daily_returns = RE_portfolio_prices_df.pct_change().dropna()
RE_daily_returns

          AMT       IYR
            c         c
1   -0.003666 -0.001570
2   -0.003746 -0.008587
3   -0.003559  0.006710
4   -0.017049 -0.004605
5    0.002399 -0.002070
..        ...       ...
301  0.003823  0.009053
302  0.008271  0.007988
303  0.006079  0.007925
304  0.013903  0.010524
305 -0.013944 -0.006823

[305 rows x 2 columns]

In [72]:
#Tech Daily Returns
energy_daily_returns = energy_portfolio_prices_df.pct_change().dropna()
energy_daily_returns

          XOM       XLE
            c         c
1   -0.007842 -0.016171
2   -0.012524 -0.011300
3   -0.008004 -0.004008
4   -0.003972  0.004918
5    0.003863 -0.002373
..        ...       ...
301 -0.006693 -0.010011
302  0.003790  0.003050
303  0.010908  0.014082
304  0.013695  0.006470
305  0.036026  0.017404

[305 rows x 2 columns]

In [68]:
#Display all sectors of the stock/ETF dataframes
dfT_style = tech_daily_returns.style.set_table_attributes("style='display:inline; margin-right:20px;'").set_caption("Tech")
dfR_style = RE_daily_returns.style.set_table_attributes("style='display:inline'").set_caption("Real Estate")
dfE_style = energy_daily_returns.style.set_table_attributes("style='display:inline'").set_caption("Energy")


display_html(dfT_style._repr_html_() + dfR_style._repr_html_() + dfE_style._repr_html_(), raw=True)

,AMZN,RTH
,c,c
1,0.006793,-0.000719
2,-0.008928,-0.009228
3,0.009408,0.020080
4,-0.006515,0.009961
5,-0.003160,-0.000587
6,0.011702,0.003172
7,0.014629,0.004450
8,0.025810,0.000000
9,0.008288,0.003381
10,-0.001865,0.016849
11,-0.027086,0.011999
12,0.013330,0.009598
13,-0.012237,-0.004697
14,-0.024433,0.016406
15,0.006720,-0.006855
16,0.009443,-0.003340
17,0.006456,0.002792
18,0.001906,0.010916
19,0.005955,0.001322
20,-0.003285,-0.002531
21,-0.000815,0.006178
22,0.008702,-0.005482
23,0.004156,0.008928
24,0.009702,-0.003932
25,-0.002688,0.001645
26,-0.008220,0.001314
27,-0.002429,0.001094
28,-0.005448,-0.001093
29,0.007190,0.007656
30,0.004674,-0.003148
31,0.003248,0.000218
32,-0.014021,-0.005374
33,0.016708,0.013722
34,0.012775,0.001514
35,0.004476,-0.002984
36,0.016163,0.014777
37,0.014425,0.004049
38,0.004676,0.003396
39,0.001301,0.000893
40,0.017818,0.016649
41,0.022339,0.016318
42,-0.000260,-0.003170
43,-0.007556,0.007079
44,-0.001297,0.001585
45,0.000974,0.009911
46,0.025282,0.012388
47,0.026542,0.005472
48,-0.003692,0.001979
49,0.015057,0.004542
50,0.017490,0.014253
51,0.011148,0.002132
52,0.014206,-0.012282
53,0.009090,-0.006267
54,-0.041967,-0.016553
55,0.028741,-0.014127
56,-0.027938,-0.036992
57,0.038014,0.025116
58,-0.018062,0.000309
59,-0.046782,-0.040445
60,-0.008071,0.004290
61,0.034809,0.008650
62,0.020401,0.009741
63,0.025832,0.015204
64,0.007381,0.009812
65,-0.008941,0.002046
66,0.013571,-0.014800
67,0.009923,0.010775
68,0.001632,-0.011224
69,0.009870,0.008760
70,0.014633,0.012274
71,-0.006551,-0.013141
72,0.000311,-0.004526
73,-0.012562,-0.010230
74,0.004553,-0.000121
75,0.015571,0.011607
76,0.009208,0.001143
77,0.004787,-0.008926
78,0.004440,-0.006606
79,0.017418,0.014871
80,0.012350,0.003508
81,-0.006388,-0.004422
82,0.001776,-0.004338
83,-0.005456,-0.005908
84,-0.006724,0.004273
85,-0.017020,-0.014755
86,0.026914,0.003847
87,-0.002931,-0.000670
88,-0.023352,-0.009539
89,-0.031950,-0.026998
90,0.040319,0.028472
91,-0.037799,-0.022283
92,-0.043840,0.001676
93,0.011122,0.009057
94,-0.052061,-0.031877
95,0.014621,0.014191
96,0.013304,0.016506
97,0.029194,0.012958
98,-0.032044,-0.019906
99,0.000605,0.003358
100,0.021435,0.003023
101,-0.006385,-0.005597
102,0.015031,0.004522
103,-0.012226,-0.009269
104,0.007485,0.013838
105,0.043240,0.015126
106,0.015966,0.009456
107,0.019027,-0.009053
108,-0.018896,-0.010987
109,-0.006304,0.002884
110,-0.038060,-0.008734
111,0.000055,0.005695
112,0.039578,0.025321
113,0.036009,0.014379
114,-0.004127,-0.006163
115,0.010299,-0.005788
116,-0.007951,-0.004054
117,0.001526,-0.011587
118,0.005645,0.007393
119,0.012138,-0.007653
120,-0.004843,-0.002620
121,0.009803,0.007075
122,0.000672,0.001592
123,-0.003834,0.007704
124,-0.000855,0.009953
125,-0.015872,-0.010629
126,0.007081,0.009480
127,-0.003478,-0.000770
128,-0.004672,-0.003252
129,0.007044,0.004553
130,-0.002561,-0.005462
131,0.012938,0.003867
132,0.000755,0.002249
133,0.004417,-0.002477
134,0.001689,-0.008325
135,0.007453,0.018096
136,0.002911,-0.013320
137,0.007315,0.005400
138,0.014456,0.018591
139,0.018664,0.010140
140,-0.000354,0.003814
141,-0.003804,0.004900
142,-0.003143,0.001990
143,0.003046,0.006436
144,0.005701,0.003572
145,0.003597,-0.000393
146,0.011145,0.004033
147,-0.004577,0.003429
148,0.004557,-0.003515
149,0.006375,0.000392
150,0.008820,0.007835
151,-0.011348,0.002430
152,-0.008409,-0.003102
153,-0.030612,-0.009530
154,0.016799,0.000196
155,-0.018083,-0.006773
156,0.024655,-0.006325
157,-0.000970,-0.003680
158,0.008224,-0.001997
159,-0.011565,-0.001300
160,0.003406,0.005108
161,0.006413,0.006577
162,0.016596,0.008613
163,0.002329,0.004515
164,0.006844,-0.005961
165,0.023715,0.005996
166,0.009134,0.008794
167,0.005218,-0.000194
168,0.011764,0.006879
169,-0.000548,-0.000289
170,-0.016251,-0.000385
171,0.000403,-0.004140
172,-0.006451,0.001354
173,0.015117,-0.001062
174,0.018789,0.009086
175,-0.029840,-0.005460
176,0.005127,-0.004334
177,-0.020938,-0.002999
178,-0.001000,-0.000485
179,0.011100,-0.006795
180,0.020677,0.011630
181,-0.006019,0.003623
182,0.013415,0.004284
183,0.007972,0.007860
184,0.012908,0.006562
185,0.006361,0.000000
186,-0.006437,-0.002457
187,0.005248,0.001231
188,0.012367,0.012297
189,-0.019290,-0.011120
190,0.002072,0.013041
191,-0.002279,0.005519
192,-0.002927,0.003938
193,0.003575,0.004934
194,0.011405,0.003954
195,-0.001050,0.002931
196,0.001309,-0.000548
197,0.011698,0.001645
198,0.002666,0.001186
199,0.033774,0.007653
200,0.002142,-0.005696
201,0.005159,0.007184
202,0.013315,0.005869
203,-0.021912,-0.006373
204,-0.018302,-0.000723
205,-0.003186,0.000452
206,-0.006690,0.004518
207,0.024827,0.006837
208,0.001434,0.000447
209,-0.000065,-0.008216
210,-0.009890,-0.006033
211,-0.031550,-0.008425
212,0.017306,0.010598
213,-0.007537,0.000542
214,0.009281,0.005512
215,-0.015065,-0.001797
216,0.010104,-0.006392
217,0.020777,0.002628
218,0.000152,0.004428
219,0.019308,0.002249
220,-0.004958,0.000539
221,0.000679,0.000538
222,-0.016489,-0.010850
223,-0.009410,-0.005167
224,-0.022194,-0.012302
225,-0.010354,-0.010518
226,-0.013352,0.008671
227,0.003165,-0.000185
228,-0.061524,-0.021727
229,-0.020447,-0.024005
230,0.040277,0.023627
231,-0.015465,-0.002838
232,0.033510,0.018499
233,0.006467,-0.009408
234,-0.033307,-0.012976
235,-0.003778,-0.001238
236,0.014325,0.001622
237,-0.011513,-0.002952
238,-0.059083,-0.026361
239,0.070887,0.024132
240,-0.078197,-0.027586
241,-0.063264,-0.003152
242,-0.005498,0.018281
243,0.044164,0.001747
244,0.042253,0.018502
245,0.000000,-0.002188
246,-0.022653,0.001620
247,0.009221,0.006566
248,0.068590,0.026378
249,-0.000330,0.004606
250,-0.024206,-0.009903
251,-0.044136,-0.016670
252,-0.003470,-0.001978
253,-0.019716,-0.011701
254,0.012777,-0.008224
255,-0.016073,-0.006919
256,-0.050910,-0.021231
257,-0.011129,-0.036549
258,0.014223,0.005140
259,-0.009672,-0.002455
260,0.052774,0.018148
261,0.000057,0.010675
262,0.060914,0.029693
263,-0.002491,-0.002806
264,0.009919,0.004561
265,0.048628,0.014683
266,-0.058656,-0.033987
267,0.018455,0.003942
268,-0.041231,-0.025621
269,0.007305,0.002833
270,0.001347,0.001093
271,0.012354,0.011039
272,-0.003102,-0.004268
273,-0.040081,-0.023724
274,-0.044601,-0.028025
275,0.020100,0.006120
276,-0.036352,-0.017413
277,-0.022908,-0.038041
278,-0.057077,-0.020656
279,-0.024313,-0.015001
280,0.094452,0.058514
281,-0.006295,0.000108
282,0.011207,0.005192
283,0.016204,0.010546
284,0.024741,0.006922
285,-0.025242,-0.011104
286,0.050064,0.023099
287,0.034353,0.023210
288,0.016612,0.008678
289,0.001714,0.002836
290,-0.001928,-0.003737
291,-0.009455,-0.001723
292,-0.014233,-0.005890
293,0.035462,0.005005
294,0.005506,0.001118
295,0.005606,0.001624
296,0.001760,0.016217
297,-0.037749,-0.016956
298,0.004810,0.003551
299,0.009091,-0.001619
300,0.009451,0.007798
301,-0.019562,-0.004622
302,-0.026870,-0.006057
303,0.048027,0.014016
304,0.028915,0.013522
305,-0.053819,-0.018283
,AMT,IYR
,c,c
1,-0.003666,-0.001570
2,-0.003746,-0.008587
3,-0.003559,0.006710
4,-0.017049,-0.004605
5,0.002399,-0.002070
6,0.002530,0.007198
7,-0.008732,-0.002786
8,0.013695,0.002065
9,0.006314,-0.004121
10,0.002766,-0.002191
11,-0.015743,-0.001220
12,-0.016200,0.001099
13,-0.002223,0.001830
14,-0.032310,-0.007672
15,0.012880,-0.005890
16,0.007388,-0.000370
17,0.016291,0.004075
18,-0.011380,0.003321
19,0.011090,0.001103
20,-0.003749,0.004041
21,0.001533,0.002073
22,-0.000626,-0.000608
23,-0.006126,0.004140
24,0.000560,0.005578
25,-0.006861,-0.029547
26,-0.011772,-0.010439
27,-0.004137,-0.003642
28,0.007521,0.006302
29,0.001777,0.004885
30,0.004613,0.003615
31,0.009537,0.005837
32,-0.001679,0.000247
33,-0.010794,-0.005061
34,0.003897,-0.001613
35,-0.014610,-0.015658
36,0.006447,0.001010
37,0.010675,0.005675
38,-0.006760,-0.011537
39,-0.024389,-0.012180
40,-0.019185,-0.003468
41,-0.014596,-0.008120
42,0.019774,0.002729
43,0.007447,0.007127
44,-0.010612,-0.009779
45,0.017975,0.006497
46,0.011772,0.008133
47,0.014076,0.013830
48,0.003966,-0.003537
49,0.008465,-0.001901
50,0.015179,0.000381
51,-0.005512,-0.012822
52,0.005681,-0.005401
53,0.017568,0.015775
54,-0.004333,-0.016675
55,-0.012512,-0.010227
56,-0.021898,-0.032174
57,-0.013165,0.003514
58,-0.001213,-0.003905
59,-0.045929,-0.029471
60,0.018567,0.020755
61,0.001323,0.003002
62,0.000587,0.007619
63,-0.006089,-0.004861
64,0.005462,0.009905
65,0.027896,0.008464
66,-0.005571,-0.012390
67,-0.012927,-0.016592
68,0.011205,0.009328
69,0.020794,0.016988
70,0.006132,0.003475
71,-0.014292,-0.021041
72,-0.009737,-0.002449
73,-0.028422,-0.003137
74,-0.010120,-0.001778
75,0.020970,0.011237
76,0.015130,0.006369
77,0.008065,0.005117
78,0.019571,0.005091
79,0.005885,0.006265
80,0.010447,0.005034
81,0.008065,0.001582
82,0.001436,0.000790
83,0.001297,-0.000263
84,-0.000682,0.005919
85,-0.009758,-0.009283
86,0.008200,-0.000792
87,-0.027203,-0.007661
88,0.004778,-0.013976
89,-0.005174,-0.015929
90,0.020665,0.012620
91,-0.005165,0.002709
92,-0.001108,0.019319
93,0.007207,0.000265
94,-0.010389,-0.013780
95,-0.016756,0.006583
96,0.011526,0.011212
97,0.007200,0.000924
98,-0.013326,-0.008967
99,0.007245,-0.001730
100,-0.040436,-0.003866
101,0.018341,0.002275
102,-0.011006,-0.009479
103,0.003758,0.003505
104,-0.002736,0.004835
105,0.018048,0.012966
106,-0.008580,-0.001715
107,-0.017095,-0.014276
108,-0.005822,-0.008583
109,0.011565,0.000676
110,-0.008973,0.002433
111,-0.008981,-0.002157
112,0.008178,0.012162
113,-0.011692,0.012951
114,0.008282,-0.003032
115,-0.009240,0.007007
116,0.010141,-0.003413
117,0.008134,0.000395
118,0.009231,0.010535
119,-0.005113,0.005473
120,-0.008180,-0.004925
121,0.006861,0.006121
122,0.014063,0.009191
123,-0.007363,-0.004105
124,-0.004105,-0.007342
125,-0.011498,-0.014792
126,-0.001683,-0.002897
127,0.002784,-0.005151
128,0.001461,0.002257
129,0.002408,0.010730
130,-0.001674,0.001311
131,-0.002333,0.008508
132,-0.009720,-0.002466
133,0.006125,0.003383
134,-0.002641,0.002982
135,0.013679,0.012670
136,0.003918,-0.001787
137,0.001084,0.003453
138,0.011118,0.008794
139,-0.008211,-0.001263
140,0.000936,0.001139
141,-0.006185,0.000632
142,0.002895,0.002904
143,0.007649,0.000252
144,0.010742,0.005035
145,-0.033159,-0.020165
146,0.013850,0.009971
147,0.001518,0.001013
148,-0.002382,-0.000885
149,0.006149,-0.000127
150,0.010498,0.009746
151,0.008112,0.005139
152,0.008046,0.006360
153,-0.004691,-0.003470
154,0.007176,-0.005720
155,0.001257,-0.005378
156,0.006348,0.010688
157,-0.000624,0.002488
158,0.003468,-0.005957
159,-0.011336,0.007491
160,0.018458,0.013011
161,0.000961,0.004159
162,-0.024895,-0.008893
163,0.009565,0.003073
164,-0.000906,-0.003063
165,0.002441,0.002950
166,-0.003687,-0.003431
167,-0.010263,-0.004550
168,0.002892,-0.005312
169,-0.005557,-0.004719
170,0.002051,0.010107
171,-0.009106,-0.008400
172,0.003277,-0.002492
173,0.005183,-0.004871
174,0.009677,0.008158
175,0.010984,0.002739
176,-0.000900,-0.009683
177,-0.011497,0.001379
178,0.038677,0.017151
179,0.013019,0.003323
180,-0.013052,-0.003312
181,0.018757,0.011815
182,-0.000530,-0.000608
183,-0.005831,-0.003530
184,-0.004732,-0.005985
185,0.008371,0.001229
186,-0.009232,-0.008959
187,-0.001140,-0.000495
188,0.000671,0.005452
189,0.002884,0.007517
190,0.001204,0.008072
191,0.009685,0.008978
192,-0.002514,0.001563
193,-0.010014,-0.006723
194,-0.007838,-0.005560
195,-0.004929,-0.002188
196,0.004614,0.005116
197,0.002094,-0.001818
198,0.011660,0.010685
199,0.002332,-0.000961
200,-0.010037,-0.003487
201,0.001209,0.003741
202,-0.006505,-0.010579
203,-0.003712,0.004617
204,0.003320,0.003870
205,-0.010399,-0.012169
206,0.005322,0.006342
207,-0.002240,-0.002060
208,0.002109,0.000850
209,0.009572,0.005946
210,-0.010288,-0.008082
211,0.003805,0.003527
212,-0.002301,-0.003514
213,0.001153,-0.013256
214,0.007792,0.009983
215,-0.001614,-0.000488
216,-0.014210,-0.017580
217,-0.004645,-0.001616
218,-0.012011,-0.018795
219,-0.003890,0.002664
220,0.013320,0.012399
221,-0.008741,-0.008248
222,0.000694,-0.001386
223,-0.001526,-0.006940
224,0.003683,-0.010038
225,0.002146,-0.001284
226,0.007185,0.013237
227,0.012758,0.002156
228,-0.014561,-0.015061
229,-0.033127,-0.027242
230,0.009738,-0.001982
231,0.004787,0.005427
232,0.020738,0.021722
233,0.006795,-0.004896
234,0.000750,-0.001165
235,0.022890,0.007648
236,-0.005994,-0.013122
237,0.010720,0.006388
238,0.007425,0.007254
239,0.010134,0.012346
240,-0.025406,-0.023501
241,0.021456,0.011578
242,0.053200,0.015046
243,-0.031935,-0.010389
244,-0.017906,0.003713
245,-0.006274,-0.008546
246,0.023938,0.014666
247,0.002954,0.004311
248,0.005059,0.012625
249,0.015355,0.000374
250,0.004895,0.001371
251,0.005558,-0.001120
252,0.001739,0.000872
253,0.013018,-0.001743
254,-0.007833,-0.006235
255,0.011411,0.012047
256,0.013721,0.000000
257,-0.033628,-0.010663
258,-0.002054,0.001379
259,0.000499,-0.003379
260,0.007482,0.003516
261,0.003032,0.003129
262,-0.000494,0.008857
263,0.004444,0.001360
264,0.010878,0.009879
265,-0.008572,0.004647
266,0.002453,-0.015458
267,0.025385,0.025096
268,-0.007159,-0.014110
269,-0.001442,-0.005627
270,0.002708,0.000738
271,-0.011942,-0.016472
272,0.013058,0.005999
273,-0.001199,-0.001988
274,-0.033974,-0.042574
275,0.008512,0.008972
276,0.001417,-0.010954
277,-0.006152,-0.014593
278,-0.021914,-0.012429
279,-0.027975,-0.036016
280,0.025719,0.032778
281,0.006792,0.001614
282,0.001450,0.003088
283,-0.004029,0.003079
284,-0.009166,-0.021617
285,0.005997,0.006410
286,0.003995,0.010706
287,0.006190,0.010056
288,0.011300,0.018187
289,-0.008753,-0.001304
290,0.013652,0.013838
291,-0.002842,0.003477
292,0.000000,-0.003208
293,0.010223,0.009912
294,0.004477,0.006246
295,0.003663,0.005320
296,0.001764,0.003780
297,0.000061,-0.002887
298,0.006740,0.000000
299,-0.000844,0.003525
300,0.010625,0.011667
301,0.003823,0.009053
302,0.008271,0.007988
303,0.006079,0.007925
304,0.013903,0.010524
305,-0.013944,-0.006823
,XOM,XLE
,c,c
1,-0.007842,-0.016171
2,-0.012524,-0.011300
3,-0.008004,-0.004008
4,-0.003972,0.004918
5,0.003863,-0.002373
6,0.003973,0.002230
7,0.002844,0.004005
8,0.003946,0.002807
9,-0.003807,-0.010165
10,0.006904,0.007739
11,0.007347,0.005464
12,0.012398,0.014982
13,0.002041,0.008394
14,0.001318,-0.000431
15,-0.008137,-0.004307
16,-0.007359,-0.012978
17,0.003281,0.002922
18,0.001333,0.009177
19,0.004476,0.007217
20,-0.003252,-0.002723
21,0.004350,-0.001437
22,-0.002647,-0.003598
23,0.001568,-0.007510
24,-0.001084,0.007712
25,-0.006028,0.001444
26,0.005216,0.014131
27,0.011826,0.021186
28,0.001431,0.002089
29,0.000119,0.008754
30,-0.000953,-0.003306
31,0.001430,0.001520
32,-0.004523,-0.002898
33,0.016619,0.016468
34,0.019640,0.014976
35,0.001384,0.006036
36,-0.000806,-0.000400
37,0.004496,0.006002
38,-0.004246,-0.002519
39,-0.007952,-0.001196
40,0.009875,0.020495
41,0.006787,0.009650
42,-0.006284,-0.012658
43,0.011843,0.008765
44,-0.006477,-0.008170
45,-0.003203,-0.001308
46,0.012622,0.021603
47,0.000567,-0.001538
48,0.002605,-0.002695
49,-0.001807,-0.007851
50,0.007129,0.005448
51,-0.011124,-0.015095
52,-0.013976,-0.020173
53,0.005992,0.000668
54,0.020275,0.010287
55,-0.050971,-0.041788
56,-0.056903,-0.041954
57,-0.017185,0.007923
58,-0.017996,-0.016721
59,-0.011308,-0.030233
60,-0.003812,-0.000749
61,0.008446,0.016349
62,-0.001570,-0.004132
63,0.002097,0.014523
64,-0.003270,-0.002483
65,0.004330,-0.002489
66,-0.010321,-0.005432
67,-0.011353,-0.016827
68,0.012952,0.010959
69,0.022014,0.021681
70,0.016897,0.005959
71,-0.016996,-0.013004
72,-0.022710,-0.022983
73,-0.007130,-0.001498
74,0.004654,0.004652
75,0.009530,0.010605
76,-0.001180,0.000591
77,-0.025203,-0.007533
78,-0.001885,-0.000298
79,0.005936,0.019056
80,0.009120,-0.000292
81,-0.009436,-0.007161
82,-0.012478,-0.005888
83,0.011141,-0.005182
84,0.009406,0.001786
85,-0.012913,-0.015451
86,-0.002158,0.008450
87,0.014191,0.026186
88,-0.020522,-0.020414
89,-0.008299,-0.006103
90,0.015228,0.017972
91,-0.004054,-0.009416
92,-0.012076,-0.019456
93,0.024722,0.021054
94,-0.018630,-0.020027
95,0.024583,0.021344
96,-0.001999,-0.001334
97,0.015360,0.017958
98,-0.015128,-0.018078
99,0.000000,0.004751
100,0.029384,0.033102
101,0.004671,0.010442
102,-0.002712,-0.000142
103,0.008029,0.011043
104,0.008993,0.010223
105,-0.002674,0.003881
106,0.011362,0.015742
107,0.002525,0.001223
108,-0.005288,-0.004752
109,0.007215,0.006139
110,-0.015332,-0.010712
111,0.014678,0.007950
112,0.017107,0.014550
113,-0.037967,-0.010588
114,-0.000514,-0.000135
115,-0.010289,-0.006097
116,-0.001949,0.004089
117,-0.003385,-0.002308
118,0.004703,0.004899
119,0.010923,0.001354
120,0.004502,0.007843
121,0.023563,0.020394
122,0.022395,0.007495
123,-0.005384,0.001436
124,0.006767,0.006907
125,-0.000489,0.000259
126,0.002812,0.003494
127,-0.001707,0.015087
128,-0.007084,-0.007749
129,0.012054,0.010242
130,-0.007778,-0.013306
131,0.006247,-0.000128
132,-0.022885,-0.016442
133,-0.019434,-0.025989
134,-0.003684,-0.003084
135,0.039276,0.030262
136,-0.003190,-0.007572
137,0.007262,0.004736
138,-0.010510,-0.008641
139,-0.003582,-0.002377
140,0.017105,0.004766
141,0.009993,0.015152
142,0.008687,-0.001947
143,-0.005981,0.005202
144,-0.008183,-0.007633
145,-0.011041,-0.003780
146,0.004662,-0.001439
147,-0.015020,-0.028044
148,0.001984,0.009977
149,-0.001485,-0.002269
150,-0.003098,0.004415
151,-0.009447,-0.018516
152,0.021207,0.019951
153,-0.020152,-0.020093
154,0.011287,0.012629
155,0.013269,0.013410
156,0.003182,-0.001323
157,0.009272,0.006228
158,-0.011725,-0.014748
159,0.005871,0.006282
160,0.000851,-0.001063
161,0.000243,0.006116
162,0.006923,0.014933
163,0.009168,0.007422
164,-0.012790,-0.021197
165,0.001211,0.001717
166,0.007498,0.005273
167,-0.009843,-0.011539
168,-0.002182,-0.003980
169,-0.001093,0.000666
170,-0.002554,0.000266
171,-0.007438,-0.003460
172,0.000000,-0.004406
173,0.019779,0.012607
174,0.006987,0.008344
175,0.007776,0.010902
176,-0.027540,-0.004288
177,-0.002197,0.008221
178,-0.002814,-0.001812
179,-0.013741,-0.013874
180,-0.005971,-0.005523
181,0.003629,-0.005157
182,-0.000249,0.003721
183,0.013594,0.007415
184,-0.006645,-0.007229
185,-0.005079,-0.009268
186,-0.011205,0.006147
187,-0.010829,-0.012751
188,-0.003182,0.002422
189,-0.017495,-0.034895
190,0.013777,0.007231
191,0.003333,0.002485
192,0.007028,0.006748
193,0.000254,0.005062
194,0.014335,0.011978
195,-0.011006,-0.004707
196,0.006829,0.007297
197,0.009797,0.007379
198,-0.001493,-0.004262
199,0.007225,0.006152
200,-0.004328,-0.002791
201,-0.004223,-0.007731
202,0.001497,-0.002149
203,0.013327,-0.001346
204,-0.011062,-0.018469
205,0.017027,-0.000137
206,-0.001466,-0.000412
207,0.014074,0.009482
208,0.003259,0.005173
209,-0.009744,0.000406
210,0.007289,0.005280
211,0.005909,0.001616
212,0.002638,0.006588
213,0.011957,0.003072
214,0.002245,0.000266
215,0.004126,-0.000266
216,0.016790,0.014647
217,-0.001155,0.006430
218,-0.008324,-0.009649
219,-0.000117,0.000000
220,-0.008744,-0.002765
221,0.009292,0.013863
222,0.007575,0.001042
223,-0.003585,0.008066
224,-0.006616,-0.004130
225,-0.002804,-0.000130
226,0.009257,-0.000778
227,0.004412,0.008949
228,-0.023003,-0.031366
229,-0.034548,-0.033842
230,-0.002696,0.002747
231,-0.006881,-0.008356
232,0.004702,0.008288
233,0.003695,-0.006302
234,0.004294,-0.004963
235,0.001466,-0.008868
236,-0.010004,-0.011044
237,-0.016143,-0.026152
238,-0.027806,-0.039483
239,0.008889,0.012241
240,-0.009960,-0.007465
241,-0.006191,-0.018652
242,0.022453,0.023145
243,0.011424,0.006142
244,0.012425,0.008487
245,0.015867,-0.002510
246,-0.003783,0.016726
247,0.004287,0.004659
248,0.012684,0.016374
249,-0.015898,-0.021671
250,-0.010280,-0.001749
251,-0.012860,-0.020730
252,-0.022924,-0.022958
253,-0.007821,-0.001678
254,0.010337,0.014672
255,0.009848,0.011899
256,0.003293,-0.000298
257,-0.028402,-0.032758
258,0.007665,0.015702
259,-0.026689,-0.031373
260,0.019738,0.015021
261,0.000909,-0.002775
262,0.018170,0.017159
263,0.007776,0.006535
264,0.005565,-0.001812
265,0.021635,0.022236
266,-0.022039,-0.028707
267,-0.013093,-0.018434
268,-0.009568,-0.005587
269,-0.014168,-0.015608
270,0.001829,0.000317
271,-0.008607,0.003963
272,0.012628,0.003158
273,-0.018187,-0.022820
274,-0.020376,-0.018199
275,-0.027553,-0.023622

# Analyzing Each Stock and ETF Individually

In [ ]:
#Questionary SQL
#How much weight do you want in each stock?

In [ ]:
#Summary statistics for AMZN stock using .std() and .mean()

In [ ]:
#Summary statistics for RTH stock using .std() and .mean()

In [ ]:
#Summary statistics for AMT stock using .std() and .mean()

In [ ]:
#Summary statistics for IYR stock using .std() and .mean()

In [ ]:
#Summary statistics for XOM stock using .std() and .mean()

In [73]:
#Summary statistics for XLE stock using .std() and .mean()

In [ ]:
#Summary statistics for each stock using .describe()

In [ ]:
# Variance For Each Stock and ETF

In [ ]:
# Covariance for Each Stock and ETF

In [ ]:
#Sharpe ratio for each stock and ETF

In [ ]:
# Calculate betas of AMZN, RTH, AMT, IYR, XOM, XLE 

# Display the beta of all stocks and ETFS

In [74]:
# Calculate alphas of AMZN, RTH, AMT, IYR, XOM, XLE 

# Display the alphas of all stocks and ETFS

### Analyzing What Would Happen To A Portfolio in Each Sector For the Period Before the Pandemic

In [ ]:
#Questionary SQL
#How much weight do you want in each stock?

In [ ]:
#Portfolio Returns for Tech: use (portfolio_return = weightAMZN * meanAMZN + weightRTH * meanRTH)

In [ ]:
#Portfolio Returns for Real Estate: use (portfolio_return = weightAMT * meanAMT + weightIYR * meanIYR)

In [ ]:
#Portfolio Returns for Energy: use (portfolio_return = weightXOM * meanXOM + weightXLE * meanXLE)

In [ ]:
# Using the Pandas var function, calculate the covariance of the S&P 500 using tech portfolio returns information
# The ETF SPY will represent the market

In [ ]:
# Using the Pandas var function, calculate the covariance of the S&P 500 using Real Estate portfolio returns information
# The ETF SPY will represent the market

In [56]:
# Using the Pandas var function, calculate the covariance of the S&P 500 using Energy portfolio returns information
# The ETF SPY will represent the market

In [59]:
# Using the Pandas rolling function in conjunction with the var function, 
# calculate the 30-day rolling variance for the S&P 500 using tech daily returns information

# Visualize the 30-day rolling variance of the S&P 500
# Be sure to adjust the figure size and add a title

In [60]:
#Monte Carlo Simulation

In [ ]:
#Box and Whisker Plot