# Portfolio Analyzer

In [ ]:
pip install polygon-api-client

In [ ]:
from polygon import RESTClient

In [ ]:
#from local_settings import polygon as settings

In [ ]:
#import the necessary modules
import pandas as pd
#questionary
from pathlib import Path
import fire
import questionary
#API
import os
import json
import requests
from dotenv import load_dotenv
from MCForecastTools import MCSimulation
%matplotlib inline
#

In [ ]:
from IPython.display import display_html

In [ ]:
#%env POLYGON_API_KEY 'enZp2AUpH4pGXJJuQ1CbjdVXJIsBFBEl'

In [ ]:
# Load .env enviroment variables into the notebook
#code lines in terminal

In [ ]:
# Get the API key from the environment variable and store as Python variable
polygon_api_key = os.getenv("POLYGON_API_KEY")

# Using the type funcion, confirm that the Nasdaq API key is available for use in the notebook
type(polygon_api_key)

In [ ]:
# Create `start_date` and `end_date` variables for the period before the pandemic
#start_date = pd.Timestamp("2017-01-01", tz="America/New_York").isoformat()
#end_date = pd.Timestamp("2020-02-01", tz="America/New_York").isoformat()

#example
#big_mac_usa = "https://data.nasdaq.com/api/v3/datasets/ECONOMIST/BIGMAC_USA?start_date=" + start_date + "&end_date=" + end_date + "&api_key=" + nasdaq_api_key

In [ ]:
#Create endpoint URLs for all the stocks and related ETFs for the period prior to the pandemic
AMZN_url = "https://api.polygon.io/v2/aggs/ticker/AMZN/range/1/day/2017-01-01/2019-02-01?apiKey=rHtIrGbGhJY6umnXSqp6hYgTM3XnHI2_"

RTH_url = "https://api.polygon.io/v2/aggs/ticker/RTH/range/1/day/2017-01-01/2019-02-01?apiKey=rHtIrGbGhJY6umnXSqp6hYgTM3XnHI2_"

AMT_url = "https://api.polygon.io/v2/aggs/ticker/AMT/range/1/day/2017-01-01/2019-02-01?apiKey=rHtIrGbGhJY6umnXSqp6hYgTM3XnHI2_"

IYR_url = "https://api.polygon.io/v2/aggs/ticker/IYR/range/1/day/2017-01-01/2019-02-01?apiKey=rHtIrGbGhJY6umnXSqp6hYgTM3XnHI2_"

XOM_url = "https://api.polygon.io/v2/aggs/ticker/XOM/range/1/day/2017-01-01/2019-02-01?apiKey=rHtIrGbGhJY6umnXSqp6hYgTM3XnHI2_"

XLE_url = "https://api.polygon.io/v2/aggs/ticker/XLE/range/1/day/2017-01-01/2019-02-01?apiKey=rHtIrGbGhJY6umnXSqp6hYgTM3XnHI2_"

SPY_url = "https://api.polygon.io/v2/aggs/ticker/SPY/range/1/day/2017-01-01/2019-02-01?apiKey=rHtIrGbGhJY6umnXSqp6hYgTM3XnHI2_"

In [ ]:
# Make the API call for the AMZN information using requests.get
AMZN_response = requests.get(AMZN_url).json()

# Use the json.dumps function to review the response data from the API call
# Use the indent and sort_keys parameters to make the response object readable
print(json.dumps(AMZN_response, indent=2, sort_keys=True))

In [ ]:
# Make the API call for the RTH information using requests.get
RTH_response = requests.get(RTH_url).json()

# Use the json.dumps function to review the response data from the API call
# Use the indent and sort_keys parameters to make the response object readable
print(json.dumps(RTH_response, indent=2, sort_keys=True))

In [ ]:
# Make the API call for the AMT information using requests.get
AMT_response = requests.get(AMT_url).json()

# Use the json.dumps function to review the response data from the API call
# Use the indent and sort_keys parameters to make the response object readable
print(json.dumps(AMT_response, indent=2, sort_keys=True))

In [ ]:
# Make the API call for the IYR information using requests.get
IYR_response = requests.get(IYR_url).json()

# Use the json.dumps function to review the response data from the API call
# Use the indent and sort_keys parameters to make the response object readable
print(json.dumps(IYR_response, indent=2, sort_keys=True))

In [ ]:
# Make the API call for the XOM information using requests.get
XOM_response = requests.get(XOM_url).json()

# Use the json.dumps function to review the response data from the API call
# Use the indent and sort_keys parameters to make the response object readable
print(json.dumps(XOM_response, indent=2, sort_keys=True))

In [ ]:
# Make the API call for the XLE information using requests.get
XLE_response = requests.get(XLE_url).json()

# Use the json.dumps function to review the response data from the API call
# Use the indent and sort_keys parameters to make the response object readable
print(json.dumps(XLE_response, indent=2, sort_keys=True))

In [21]:
# Make the API call for the AMZN information using requests.get
SPY_response = requests.get(SPY_url).json()

# Use the json.dumps function to review the response data from the API call
# Use the indent and sort_keys parameters to make the response object readable
print(json.dumps(SPY_response, indent=2, sort_keys=True))

{
  "adjusted": true,
  "count": 306,
  "queryCount": 306,
  "request_id": "5e0490fcdca3989c2eac625556afbb21",
  "results": [
    {
      "c": 258.33,
      "h": 258.59,
      "l": 257.27,
      "n": 149072,
      "o": 257.31,
      "t": 1510549200000,
      "v": 50459956.0,
      "vw": 258.1296
    },
    {
      "c": 257.73,
      "h": 257.85,
      "l": 256.52,
      "n": 204505,
      "o": 257.41,
      "t": 1510635600000,
      "v": 61510670.0,
      "vw": 257.5536
    },
    {
      "c": 256.44,
      "h": 257.22,
      "l": 255.63,
      "n": 257046,
      "o": 256.62,
      "t": 1510722000000,
      "v": 81083525.0,
      "vw": 256.6254
    },
    {
      "c": 258.62,
      "h": 259.04,
      "l": 257.4748,
      "n": 233015,
      "o": 257.52,
      "t": 1510808400000,
      "v": 67338823.0,
      "vw": 258.3311
    },
    {
      "c": 257.86,
      "h": 258.5882,
      "l": 257.77,
      "n": 194457,
      "o": 258.22,
      "t": 1510894800000,
      "v": 76010826.0,
      "vw": 258.113
    },
    {
      "c": 258.3,
      "h": 258.525,
      "l": 257.86,
      "n": 155460,
      "o": 258.14,
      "t": 1511154000000,
      "v": 48306106.0,
      "vw": 258.2096
    },
    {
      "c": 259.99,
      "h": 260.2,
      "l": 259.09,
      "n": 204340,
      "o": 259.18,
      "t": 1511240400000,
      "v": 68212803.0,
      "vw": 259.7124
    },
    {
      "c": 259.76,
      "h": 260.15,
      "l": 259.57,
      "n": 144666,
      "o": 260,
      "t": 1511326800000,
      "v": 45228864.0,
      "vw": 259.8654
    },
    {
      "c": 260.36,
      "h": 260.48,
      "l": 260.16,
      "n": 84307,
      "o": 260.32,
      "t": 1511499600000,
      "v": 28075076.0,
      "vw": 260.2852
    },
    {
      "c": 260.23,
      "h": 260.75,
      "l": 260,
      "n": 147055,
      "o": 260.41,
      "t": 1511758800000,
      "v": 52476877.0,
      "vw": 260.3485
    },
    {
      "c": 262.87,
      "h": 262.9,
      "l": 260.655,
      "n": 281188,
      "o": 260.76,
      "t": 1511845200000,
      "v": 99153267.0,
      "vw": 261.7215
    },
    {
      "c": 262.71,
      "h": 263.63,
      "l": 262.2,
      "n": 250860,
      "o": 263.02,
      "t": 1511931600000,
      "v": 77757003.0,
      "vw": 262.7941
    },
    {
      "c": 265.01,
      "h": 266.05,
      "l": 263.67,
      "n": 379516,
      "o": 263.76,
      "t": 1512018000000,
      "v": 128210772.0,
      "vw": 264.6823
    },
    {
      "c": 264.46,
      "h": 265.31,
      "l": 260.76,
      "n": 632472,
      "o": 264.76,
      "t": 1512104400000,
      "v": 164738743.0,
      "vw": 263.7214
    },
    {
      "c": 264.14,
      "h": 266.8,
      "l": 264.08,
      "n": 335670,
      "o": 266.31,
      "t": 1512363600000,
      "v": 94536108.0,
      "vw": 265.3519
    },
    {
      "c": 263.19,
      "h": 265.15,
      "l": 263.04,
      "n": 280507,
      "o": 264.43,
      "t": 1512450000000,
      "v": 78147722.0,
      "vw": 263.9815
    },
    {
      "c": 263.24,
      "h": 263.73,
      "l": 262.71,
      "n": 207333,
      "o": 262.87,
      "t": 1512536400000,
      "v": 76095830.0,
      "vw": 263.235
    },
    {
      "c": 264.07,
      "h": 264.43,
      "l": 262.94,
      "n": 193170,
      "o": 263.09,
      "t": 1512622800000,
      "v": 77396386.0,
      "vw": 263.7508
    },
    {
      "c": 265.51,
      "h": 265.52,
      "l": 264.72,
      "n": 188090,
      "o": 264.99,
      "t": 1512709200000,
      "v": 77128227.0,
      "vw": 265.0903
    },
    {
      "c": 266.31,
      "h": 266.38,
      "l": 265.49,
      "n": 177381,
      "o": 265.58,
      "t": 1512968400000,
      "v": 83272088.0,
      "vw": 265.9474
    },
    {
      "c": 266.78,
      "h": 267.32,
      "l": 266.345,
      "n": 225000,
      "o": 266.57,
      "t": 1513054800000,
      "v": 85523685.0,
      "vw": 266.7884
    },
    {
      "c": 266.75,
      "h": 267.56,
      "l": 266.65,
      "n": 230517,
      "o": 267.06,
      "t": 1513141200000,
      "v": 103139866.0,
      "vw": 266.9909
    },
    {
      "c": 265.66,
      "h": 267.22,
      "l": 265.6,
      "n": 270141,
      "o": 267.09,
      "t": 1513227600000,
      "v": 100942605.0,
      "vw": 266.2522
    },
    {
      "c": 266.51,
      "h": 267.04,
      "l": 265.39,
      "n": 265360,
      "o": 265.45,
      "t": 1513314000000,
      "v": 145007025.0,
      "vw": 266.1179
    },
    {
      "c": 268.2,
      "h": 268.6,
      "l": 267.98,
      "n": 226894,
      "o": 268.1,
      "t": 1513573200000,
      "v": 84035411.0,
      "vw": 268.1244
    },
    {
      "c": 267.17,
      "h": 268.53,
      "l": 267.09,
      "n": 225064,
      "o": 268.48,
      "t": 1513659600000,
      "v": 82612298.0,
      "vw": 267.5828
    },
    {
      "c": 267.03,
      "h": 268.33,
      "l": 266.69,
      "n": 215967,
      "o": 268.27,
      "t": 1513746000000,
      "v": 76737799.0,
      "vw": 267.2321
    },
    {
      "c": 267.58,
      "h": 268.385,
      "l": 267.3,
      "n": 182247,
      "o": 267.74,
      "t": 1513832400000,
      "v": 67187158.0,
      "vw": 267.7629
    },
    {
      "c": 267.51,
      "h": 267.635,
      "l": 266.9,
      "n": 177537,
      "o": 267.6,
      "t": 1513918800000,
      "v": 78863972.0,
      "vw": 267.3703
    },
    {
      "c": 267.19,
      "h": 267.4377,
      "l": 266.885,
      "n": 142202,
      "o": 267.05,
      "t": 1514264400000,
      "v": 45389480.0,
      "vw": 267.1664
    },
    {
      "c": 267.32,
      "h": 267.73,
      "l": 267.01,
      "n": 174032,
      "o": 267.38,
      "t": 1514350800000,
      "v": 57866631.0,
      "vw": 267.3434
    },
    {
      "c": 267.87,
      "h": 267.92,
      "l": 267.45,
      "n": 120861,
      "o": 267.89,
      "t": 1514437200000,
      "v": 45267815.0,
      "vw": 267.6299
    },
    {
      "c": 266.86,
      "h": 268.55,
      "l": 266.64,
      "n": 208952,
      "o": 268.53,
      "t": 1514523600000,
      "v": 96233559.0,
      "vw": 267.1674
    },
    {
      "c": 268.77,
      "h": 268.81,
      "l": 267.4,
      "n": 233353,
      "o": 267.84,
      "t": 1514869200000,
      "v": 86932450.0,
      "vw": 268.224
    },
    {
      "c": 270.47,
      "h": 270.64,
      "l": 268.96,
      "n": 233665,
      "o": 268.96,
      "t": 1514955600000,
      "v": 89906511.0,
      "vw": 269.9575
    },
    {
      "c": 271.61,
      "h": 272.16,
      "l": 271.1,
      "n": 206549,
      "o": 271.2,
      "t": 1515042000000,
      "v": 80960285.0,
      "vw": 271.6285
    },
    {
      "c": 273.42,
      "h": 273.56,
      "l": 271.95,
      "n": 208407,
      "o": 272.51,
      "t": 1515128400000,
      "v": 83778177.0,
      "vw": 272.866
    },
    {
      "c": 273.92,
      "h": 274.1,
      "l": 272.98,
      "n": 150232,
      "o": 273.31,
      "t": 1515387600000,
      "v": 57558722.0,
      "vw": 273.7616
    },
    {
      "c": 274.54,
      "h": 275.25,
      "l": 274.09,
      "n": 186071,
      "o": 274.4,
      "t": 1515474000000,
      "v": 57517275.0,
      "vw": 274.6201
    },
    {
      "c": 274.12,
      "h": 274.42,
      "l": 272.92,
      "n": 209102,
      "o": 273.68,
      "t": 1515560400000,
      "v": 69764124.0,
      "vw": 273.957
    },
    {
      "c": 276.12,
      "h": 276.12,
      "l": 274.56,
      "n": 188735,
      "o": 274.75,
      "t": 1515646800000,
      "v": 62508066.0,
      "vw": 275.405
    },
    {
      "c": 277.92,
      "h": 278.11,
      "l": 276.27,
      "n": 269919,
      "o": 276.42,
      "t": 1515733200000,
      "v": 90776378.0,
      "vw": 277.4632
    },
    {
      "c": 276.97,
      "h": 280.09,
      "l": 276.18,
      "n": 342983,
      "o": 279.35,
      "t": 1516078800000,
      "v": 106928954.0,
      "vw": 278.0707
    },
    {
      "c": 279.61,
      "h": 280.05,
      "l": 277.19,
      "n": 262690,
      "o": 278.03,
      "t": 1516165200000,
      "v": 113509771.0,
      "vw": 278.7832
    },
    {
      "c": 279.14,
      "h": 279.96,
      "l": 278.58,
      "n": 247929,
      "o": 279.48,
      "t": 1516251600000,
      "v": 100917842.0,
      "vw": 279.3325
    },
    {
      "c": 280.41,
      "h": 280.41,
      "l": 279.14,
      "n": 244188,
      "o": 279.8,
      "t": 1516338000000,
      "v": 141013182.0,
      "vw": 279.8944
    },
    {
      "c": 282.69,
      "h": 282.69,
      "l": 280.11,
      "n": 218509,
      "o": 280.17,
      "t": 1516597200000,
      "v": 91570816.0,
      "vw": 281.9033
    },
    {
      "c": 283.29,
      "h": 283.62,
      "l": 282.37,
      "n": 232557,
      "o": 282.74,
      "t": 1516683600000,
      "v": 97349622.0,
      "vw": 283.1425
    },
    {
      "c": 283.18,
      "h": 284.7,
      "l": 281.84,
      "n": 357648,
      "o": 284.02,
      "t": 1516770000000,
      "v": 135157956.0,
      "vw": 283.3514
    },
    {
      "c": 283.3,
      "h": 284.27,
      "l": 282.405,
      "n": 267775,
      "o": 284.16,
      "t": 1516856400000,
      "v": 84748018.0,
      "vw": 283.3519
    },
    {
      "c": 286.58,
      "h": 286.6285,
      "l": 283.96,
      "n": 267022,
      "o": 284.25,
      "t": 1516942800000,
      "v": 108017678.0,
      "vw": 285.4765
    },
    {
      "c": 284.68,
      "h": 286.43,
      "l": 284.5,
      "n": 286676,
      "o": 285.93,
      "t": 1517202000000,
      "v": 90529298.0,
      "vw": 285.4455
    },
    {
      "c": 281.76,
      "h": 284.736,
      "l": 281.22,
      "n": 427199,
      "o": 282.6,
      "t": 1517288400000,
      "v": 133159849.0,
      "vw": 282.4345
    },
    {
      "c": 281.9,
      "h": 283.3,
      "l": 280.68,
      "n": 363004,
      "o": 282.73,
      "t": 1517374800000,
      "v": 119347209.0,
      "vw": 281.9699
    },
    {
      "c": 281.58,
      "h": 283.06,
      "l": 280.68,
      "n": 304904,
      "o": 281.07,
      "t": 1517461200000,
      "v": 90592154.0,
      "vw": 281.7633
    },
    {
      "c": 275.45,
      "h": 280.23,
      "l": 275.41,
      "n": 548614,
      "o": 280.08,
      "t": 1517547600000,
      "v": 173504243.0,
      "vw": 277.4408
    },
    {
      "c": 263.93,
      "h": 275.85,
      "l": 263.31,
      "n": 1178531,
      "o": 273.45,
      "t": 1517806800000,
      "v": 295189229.0,
      "vw": 269.8029
    },
    {
      "c": 269.13,
      "h": 269.7,
      "l": 258.7,
      "n": 1527377,
      "o": 259.94,
      "t": 1517893200000,
      "v": 355109136.0,
      "vw": 264.9453
    },
    {
      "c": 267.67,
      "h": 272.36,
      "l": 267.58,
      "n": 741988,
      "o": 268.5,
      "t": 1517979600000,
      "v": 167779780.0,
      "vw": 269.5961
    },
    {
      "c": 257.63,
      "h": 268.17,
      "l": 257.59,
      "n": 932878,
      "o": 268.01,
      "t": 1518066000000,
      "v": 246791259.0,
      "vw": 263.0304
    },
    {
      "c": 261.5,
      "h": 263.61,
      "l": 252.92,
      "n": 1201534,
      "o": 260.8,
      "t": 1518152400000,
      "v": 284220986.0,
      "vw": 258.5994
    },
    {
      "c": 265.34,
      "h": 267.01,
      "l": 261.88,
      "n": 609797,
      "o": 263.83,
      "t": 1518411600000,
      "v": 144317286.0,
      "vw": 264.5661
    },
    {
      "c": 266,
      "h": 266.62,
      "l": 263.31,
      "n": 375376,
      "o": 263.97,
      "t": 1518498000000,
      "v": 81467906.0,
      "vw": 265.2114
    },
    {
      "c": 269.59,
      "h": 270,
      "l": 264.3,
      "n": 528175,
      "o": 264.31,
      "t": 1518584400000,
      "v": 121031333.0,
      "vw": 267.5713
    },
    {
      "c": 273.03,
      "h": 273.04,
      "l": 268.77,
      "n": 423209,
      "o": 271.57,
      "t": 1518670800000,
      "v": 111570981.0,
      "vw": 271.423
    },
    {
      "c": 273.11,
      "h": 275.32,
      "l": 272.27,
      "n": 424978,
      "o": 272.32,
      "t": 1518757200000,
      "v": 159234148.0,
      "vw": 273.3553
    },
    {
      "c": 271.4,
      "h": 273.67,
      "l": 270.5,
      "n": 339877,
      "o": 272.03,
      "t": 1519102800000,
      "v": 86724865.0,
      "vw": 272.1129
    },
    {
      "c": 270.05,
      "h": 274.72,
      "l": 269.94,
      "n": 392235,
      "o": 271.9,
      "t": 1519189200000,
      "v": 99085834.0,
      "vw": 271.989
    },
    {
      "c": 270.4,
      "h": 273.05,
      "l": 269.64,
      "n": 404224,
      "o": 271.1,
      "t": 1519275600000,
      "v": 110606330.0,
      "vw": 270.9206
    },
    {
      "c": 274.71,
      "h": 274.71,
      "l": 271.25,
      "n": 321918,
      "o": 271.79,
      "t": 1519362000000,
      "v": 92975183.0,
      "vw": 273.2065
    },
    {
      "c": 277.9,
      "h": 278.01,
      "l": 275.26,
      "n": 281728,
      "o": 275.93,
      "t": 1519621200000,
      "v": 86715865.0,
      "vw": 276.758
    },
    {
      "c": 274.43,
      "h": 278.92,
      "l": 274.36,
      "n": 364249,
      "o": 278.11,
      "t": 1519707600000,
      "v": 99335237.0,
      "vw": 276.3933
    },
    {
      "c": 271.65,
      "h": 276.19,
      "l": 271.29,
      "n": 402197,
      "o": 275.68,
      "t": 1519794000000,
      "v": 122091279.0,
      "vw": 273.5205
    },
    {
      "c": 267.7,
      "h": 273.17,
      "l": 266,
      "n": 620290,
      "o": 271.41,
      "t": 1519880400000,
      "v": 177194177.0,
      "vw": 269.2834
    },
    {
      "c": 269.08,
      "h": 269.72,
      "l": 264.82,
      "n": 540428,
      "o": 265.8,
      "t": 1519966800000,
      "v": 139503486.0,
      "vw": 267.5321
    },
    {
      "c": 272.19,
      "h": 272.89,
      "l": 267.61,
      "n": 356240,
      "o": 267.73,
      "t": 1520226000000,
      "v": 97748208.0,
      "vw": 270.8066
    },
    {
      "c": 272.88,
      "h": 273.39,
      "l": 271.18,
      "n": 295497,
      "o": 273.3,
      "t": 1520312400000,
      "v": 79460279.0,
      "vw": 272.2898
    },
    {
      "c": 272.78,
      "h": 273.18,
      "l": 270.2,
      "n": 318133,
      "o": 270.42,
      "t": 1520398800000,
      "v": 87319349.0,
      "vw": 271.8617
    },
    {
      "c": 274.1,
      "h": 274.24,
      "l": 272.42,
      "n": 259824,
      "o": 273.55,
      "t": 1520485200000,
      "v": 67209657.0,
      "vw": 273.4721
    },
    {
      "c": 278.87,
      "h": 278.87,
      "l": 275.34,
      "n": 334909,
      "o": 275.7,
      "t": 1520571600000,
      "v": 113862933.0,
      "vw": 277.0167
    },
    {
      "c": 278.52,
      "h": 279.91,
      "l": 278.0801,
      "n": 242959,
      "o": 279.2,
      "t": 1520827200000,
      "v": 72178584.0,
      "vw": 278.8568
    },
    {
      "c": 276.72,
      "h": 280.41,
      "l": 276.03,
      "n": 315529,
      "o": 279.84,
      "t": 1520913600000,
      "v": 92242849.0,
      "vw": 277.9774
    },
    {
      "c": 275.3,
      "h": 278.02,
      "l": 274.67,
      "n": 360723,
      "o": 277.81,
      "t": 1521000000000,
      "v": 106084346.0,
      "vw": 275.8573
    },
    {
      "c": 275,
      "h": 276.61,
      "l": 274.43,
      "n": 262028,
      "o": 275.88,
      "t": 1521086400000,
      "v": 83745168.0,
      "vw": 275.3072
    },
    {
      "c": 274.2,
      "h": 275.39,
      "l": 274.14,
      "n": 240463,
      "o": 274.5,
      "t": 1521172800000,
      "v": 100719862.0,
      "vw": 274.5818
    },
    {
      "c": 270.49,
      "h": 274.3957,
      "l": 268.62,
      "n": 432138,
      "o": 273.35,
      "t": 1521432000000,
      "v": 109589738.0,
      "vw": 270.7608
    },
    {
      "c": 270.95,
      "h": 271.67,
      "l": 270.18,
      "n": 209738,
      "o": 270.94,
      "t": 1521518400000,
      "v": 59984170.0,
      "vw": 270.9091
    },
    {
      "c": 270.43,
      "h": 273.27,
      "l": 270.19,
      "n": 330621,
      "o": 270.9,
      "t": 1521604800000,
      "v": 78926496.0,
      "vw": 271.4034
    },
    {
      "c": 263.67,
      "h": 268.87,
      "l": 263.36,
      "n": 577822,
      "o": 267.91,
      "t": 1521691200000,
      "v": 148988394.0,
      "vw": 266.1293
    },
    {
      "c": 258.05,
      "h": 265.02,
      "l": 257.83,
      "n": 624773,
      "o": 264.17,
      "t": 1521777600000,
      "v": 183915476.0,
      "vw": 261.286
    },
    {
      "c": 265.11,
      "h": 265.43,
      "l": 259.41,
      "n": 450164,
      "o": 262.13,
      "t": 1522036800000,
      "v": 142336248.0,
      "vw": 262.3298
    },
    {
      "c": 260.6,
      "h": 266.77,
      "l": 258.84,
      "n": 538200,
      "o": 266.17,
      "t": 1522123200000,
      "v": 130293321.0,
      "vw": 263.1462
    },
    {
      "c": 259.83,
      "h": 262.64,
      "l": 258.58,
      "n": 590466,
      "o": 260.75,
      "t": 1522209600000,
      "v": 146774158.0,
      "vw": 260.396
    },
    {
      "c": 263.15,
      "h": 265.26,
      "l": 260.28,
      "n": 436547,
      "o": 261.12,
      "t": 1522296000000,
      "v": 124485664.0,
      "vw": 262.8297
    },
    {
      "c": 257.47,
      "h": 263.13,
      "l": 254.67,
      "n": 643567,
      "o": 262.55,
      "t": 1522641600000,
      "v": 186605383.0,
      "vw": 258.2188
    },
    {
      "c": 260.77,
      "h": 261.31,
      "l": 256.84,
      "n": 451179,
      "o": 258.87,
      "t": 1522728000000,
      "v": 120184609.0,
      "vw": 259.0097
    },
    {
      "c": 263.56,
      "h": 264.355,
      "l": 256.6,
      "n": 463580,
      "o": 256.75,
      "t": 1522814400000,
      "v": 124143970.0,
      "vw": 260.9091
    },
    {
      "c": 265.64,
      "h": 266.64,
      "l": 264.32,
      "n": 318788,
      "o": 265.55,
      "t": 1522900800000,
      "v": 83030162.0,
      "vw": 265.4531
    },
    {
      "c": 259.72,
      "h": 265.11,
      "l": 258,
      "n": 563190,
      "o": 263.42,
      "t": 1522987200000,
      "v": 179909171.0,
      "vw": 261.3343
    },
    {
      "c": 261,
      "h": 264.84,
      "l": 260.54,
      "n": 333762,
      "o": 261.37,
      "t": 1523246400000,
      "v": 105768348.0,
      "vw": 262.1611
    },
    {
      "c": 265.15,
      "h": 266.04,
      "l": 262.98,
      "n": 405037,
      "o": 264.27,
      "t": 1523332800000,
      "v": 105931649.0,
      "vw": 264.5226
    },
    {
      "c": 263.76,
      "h": 265.64,
      "l": 263.39,
      "n": 329133,
      "o": 263.47,
      "t": 1523419200000,
      "v": 91365312.0,
      "vw": 264.2677
    },
    {
      "c": 265.93,
      "h": 267,
      "l": 265.06,
      "n": 282525,
      "o": 265.26,
      "t": 1523505600000,
      "v": 69081685.0,
      "vw": 266.0155
    },
    {
      "c": 265.15,
      "h": 267.54,
      "l": 264.01,
      "n": 311308,
      "o": 267.41,
      "t": 1523592000000,
      "v": 85374644.0,
      "vw": 265.5483
    },
    {
      "c": 267.33,
      "h": 268.2,
      "l": 266.07,
      "n": 251422,
      "o": 267,
      "t": 1523851200000,
      "v": 63606232.0,
      "vw": 267.2978
    },
    {
      "c": 270.19,
      "h": 270.87,
      "l": 268.75,
      "n": 253682,
      "o": 269.33,
      "t": 1523937600000,
      "v": 64898748.0,
      "vw": 269.7932
    },
    {
      "c": 270.39,
      "h": 271.3,
      "l": 269.87,
      "n": 197534,
      "o": 270.69,
      "t": 1524024000000,
      "v": 57482177.0,
      "vw": 270.672
    },
    {
      "c": 268.89,
      "h": 269.88,
      "l": 267.72,
      "n": 284592,
      "o": 269.65,
      "t": 1524110400000,
      "v": 77878103.0,
      "vw": 268.7899
    },
    {
      "c": 266.61,
      "h": 269.06,
      "l": 265.61,
      "n": 292031,
      "o": 268.81,
      "t": 1524196800000,
      "v": 100187122.0,
      "vw": 267.2945
    },
    {
      "c": 266.57,
      "h": 267.89,
      "l": 265.35,
      "n": 239510,
      "o": 267.26,
      "t": 1524456000000,
      "v": 65717046.0,
      "vw": 266.6649
    },
    {
      "c": 262.98,
      "h": 267.9762,
      "l": 261.28,
      "n": 436217,
      "o": 267.73,
      "t": 1524542400000,
      "v": 113035133.0,
      "vw": 264.1614
    },
    {
      "c": 263.63,
      "h": 264.13,
      "l": 260.85,
      "n": 356766,
      "o": 262.91,
      "t": 1524628800000,

In [22]:
#Create REST object
#client = RESTClient("enZp2AUpH4pGXJJuQ1CbjdVXJIsBFBEl")
#client

In [23]:
#Create a dataframe to store the AMZN data
AMZN_df = pd.DataFrame(AMZN_response["results"])

#Review the dataframe
AMZN_df

,v,vw,o,c,h,l,t,n
0,58368780.0,56.6932,56.1500,56.4585,56.9950,56.1170,1510549200000,50604
1,62768460.0,56.6210,56.5055,56.8420,56.9000,56.1945,1510635600000,46965
2,78573600.0,56.2976,56.3505,56.3345,56.5875,56.0815,1510722000000,60255
3,44266440.0,56.7804,56.5080,56.8645,56.9080,56.5025,1510808400000,38738
4,48267760.0,56.6561,56.9140,56.4940,56.9400,56.2905,1510894800000,41968
...,...,...,...,...,...,...,...,...
301,96754220.0,81.4451,82.1795,81.8945,82.2500,80.7045,1548651600000,118667
302,92655640.0,80.2954,81.5635,79.6940,81.6190,79.5360,1548738000000,117600
303,115676440.0,82.6502,81.1500,83.5215,83.8475,80.9840,1548824400000,140245
304,218192160.0,85.5246,84.6425,85.9365,86.8206,83.9541,1548910800000,294678
305,230124260.0,82.0805,81.9440,81.3115,83.6530,81.1005,1548997200000,292970

In [24]:
#Create a Dataframe to store the RTH data
RTH_df = pd.DataFrame(RTH_response["results"])

#Review the dataframe
RTH_df

          v        vw       o         c        h      l              t    n
0     18455   83.5709   83.59   83.5000   84.210  83.44  1510549200000  134
1      2283   83.2498   83.20   83.4400   83.440  83.14  1510635600000   40
2      6370   82.7220   82.64   82.6700   82.931  82.62  1510722000000   57
3     16287   84.1142   83.30   84.3300   84.350  83.30  1510808400000   81
4    162673   85.0794   84.96   85.1700   85.250  84.83  1510894800000  309
..      ...       ...     ...       ...      ...    ...            ...  ...
301   17964   98.5479   98.75   99.0600   99.060  98.00  1548651600000  147
302   10740   98.4803   99.00   98.4600   99.000  98.01  1548738000000  116
303   50287   99.2804   99.03   99.8400  100.160  98.69  1548824400000  362
304   25271  100.8103   99.95  101.1900  101.320  99.85  1548910800000  213
305   31302   99.5271  100.12   99.3399  100.120  99.04  1548997200000  264

[306 rows x 8 columns]

In [25]:
#Create a Dataframe to store the AMT data
AMT_df = pd.DataFrame(AMT_response["results"])

#Review the dataframe
AMT_df

,v,vw,o,c,h,l,t,n
0,2453357.0,150.8519,151.27,150.04,152.80,148.6200,1510549200000,25475
1,1855070.0,149.6910,150.05,149.49,150.97,148.3400,1510635600000,19493
2,1631662.0,148.3661,149.55,148.93,149.84,146.8000,1510722000000,17858
3,2014150.0,148.6786,149.89,148.40,150.17,147.8300,1510808400000,20274
4,2055188.0,146.2407,147.97,145.87,148.85,145.5700,1510894800000,20611
...,...,...,...,...,...,...,...,...
301,1180587.0,167.1146,166.94,168.05,168.05,165.6700,1548651600000,16170
302,1849793.0,168.9728,167.68,169.44,169.52,167.5501,1548738000000,18582
303,2159687.0,170.4709,169.13,170.47,171.50,169.0100,1548824400000,20311
304,4046444.0,172.5904,169.79,172.84,173.95,169.2500,1548910800000,30613
305,3446178.0,170.4326,173.15,170.43,173.15,169.5404,1548997200000,34692

In [26]:
#Create a Dataframe to store the IYR data
IYR_df = pd.DataFrame(IYR_response["results"])

#Review the dataframe
IYR_df

              v       vw      o      c      h      l              t      n
0     7803612.0  82.7592  82.65  82.81  82.95  82.43  1510549200000  33809
1     6084055.0  82.6723  82.63  82.68  83.00  82.45  1510635600000  35015
2     8783835.0  82.1967  82.64  81.97  82.87  81.94  1510722000000  44835
3    10914549.0  82.4638  81.93  82.52  82.63  81.93  1510808400000  39086
4     5059102.0  82.2014  82.25  82.14  82.55  82.04  1510894800000  27805
..          ...      ...    ...    ...    ...    ...            ...    ...
301   9192218.0  81.1239  80.46  81.37  81.47  80.25  1548651600000  45839
302   6893792.0  81.7550  81.35  82.02  82.05  81.16  1548738000000  40657
303  13730260.0  82.6232  82.11  82.67  82.96  81.90  1548824400000  64069
304  11427134.0  83.0905  82.63  83.54  83.56  81.93  1548910800000  68295
305  22725382.0  82.7513  83.50  82.97  83.80  81.86  1548997200000  97184

[306 rows x 8 columns]

In [27]:
#Create a Dataframe to store the XOM data
XOM_df = pd.DataFrame(XOM_response["results"])

#Review the dataframe
XOM_df

              v       vw      o      c      h       l              t       n
0     6720443.0  82.9173  82.65  82.89  83.09  82.600  1510549200000   34618
1     9252052.0  82.3515  82.42  82.24  82.75  82.090  1510635600000   48880
2     9663756.0  81.4263  81.75  81.21  82.09  81.150  1510722000000   51314
3    10528600.0  80.4364  80.44  80.56  80.85  80.145  1510808400000   54602
4     9538169.0  80.3455  80.32  80.24  80.66  80.160  1510894800000   45266
..          ...      ...    ...    ...    ...     ...            ...     ...
301  13678863.0  70.9878  71.02  71.24  71.28  70.370  1548651600000   67874
302  10513606.0  71.6804  71.70  71.51  72.19  71.480  1548738000000   58014
303  11525222.0  72.1081  71.77  72.29  72.57  71.505  1548824400000   68049
304  19876798.0  72.8224  72.29  73.28  73.49  72.020  1548910800000   94637
305  22969407.0  75.6406  74.92  75.92  76.49  74.320  1548997200000  125869

[306 rows x 8 columns]

In [28]:
#Create a Dataframe to store the XLE data
XLE_df = pd.DataFrame(XLE_response["results"])

#Review the dataframe
XLE_df

              v       vw      o      c       h      l              t      n
0     7535073.0  69.3805  69.47  69.26  69.730  69.18  1510549200000  42341
1    16594281.0  68.3662  69.00  68.14  69.000  68.06  1510635600000  84447
2    17764621.0  67.3993  67.53  67.37  67.670  67.09  1510722000000  79942
3    12594463.0  67.1392  67.16  67.10  67.400  66.91  1510808400000  69347
4     9211550.0  67.3752  67.23  67.43  67.570  67.06  1510894800000  45865
..          ...      ...    ...    ...     ...    ...            ...    ...
301  12082855.0  62.0934  62.10  62.30  62.330  61.62  1548651600000  70387
302  11929914.0  62.6037  62.66  62.49  62.910  62.44  1548738000000  58535
303  12156800.0  63.0658  62.88  63.37  63.570  62.54  1548824400000  76206
304  17895883.0  63.6808  63.47  63.78  64.075  63.30  1548910800000  89525
305  14831940.0  64.7919  64.47  64.89  65.270  64.26  1548997200000  78289

[306 rows x 8 columns]

In [29]:
#Create a Dataframe to store the SPY data
SPY_df = pd.DataFrame(SPY_response["results"])

#Review the dataframe
SPY_df

,v,vw,o,c,h,l,t,n
0,50459956.0,258.1296,257.31,258.33,258.5900,257.2700,1510549200000,149072
1,61510670.0,257.5536,257.41,257.73,257.8500,256.5200,1510635600000,204505
2,81083525.0,256.6254,256.62,256.44,257.2200,255.6300,1510722000000,257046
3,67338823.0,258.3311,257.52,258.62,259.0400,257.4748,1510808400000,233015
4,76010826.0,258.1130,258.22,257.86,258.5882,257.7700,1510894800000,194457
...,...,...,...,...,...,...,...,...
301,85873204.0,263.3662,263.39,263.76,263.8300,261.7900,1548651600000,408381
302,66310029.0,263.5091,263.92,263.41,264.5500,262.4800,1548738000000,287011
303,92663208.0,266.5778,265.10,267.58,268.5200,264.2500,1548824400000,469964
304,104338660.0,269.4429,267.51,269.93,270.4700,267.2700,1548910800000,407112
305,85985432.0,270.1318,270.15,270.06,271.2000,269.1800,1548997200000,362713

In [30]:
#Create a new dataframe with only the closing prices for each stock and ETF
AMZN_price_df = pd.DataFrame(AMZN_df["c"])

#Review the dataframe
AMZN_price_df

#Drop the index column

           c
0    56.4585
1    56.8420
2    56.3345
3    56.8645
4    56.4940
..       ...
301  81.8945
302  79.6940
303  83.5215
304  85.9365
305  81.3115

[306 rows x 1 columns]

In [31]:
#Create a new dataframe with only the closing prices for each stock and ETF
RTH_price_df = pd.DataFrame(RTH_df["c"])

#Review the dataframe
RTH_price_df

#Drop the index column

            c
0     83.5000
1     83.4400
2     82.6700
3     84.3300
4     85.1700
..        ...
301   99.0600
302   98.4600
303   99.8400
304  101.1900
305   99.3399

[306 rows x 1 columns]

In [43]:
#Create a new dataframe with only the closing prices for each stock and ETF
RTH_price_df = pd.DataFrame(RTH_df["c"])

#Review the dataframe
RTH_price_df

#Drop the index column

            c
0     83.5000
1     83.4400
2     82.6700
3     84.3300
4     85.1700
..        ...
301   99.0600
302   98.4600
303   99.8400
304  101.1900
305   99.3399

[306 rows x 1 columns]

In [44]:
#Create a new dataframe with only the closing prices for each stock and ETF
AMT_price_df = pd.DataFrame(AMT_df["c"])

#Review the dataframe
AMT_price_df

#Drop the index column

          c
0    150.04
1    149.49
2    148.93
3    148.40
4    145.87
..      ...
301  168.05
302  169.44
303  170.47
304  172.84
305  170.43

[306 rows x 1 columns]

In [45]:
#Create a new dataframe with only the closing prices for each stock and ETF
IYR_price_df = pd.DataFrame(IYR_df["c"])

#Review the dataframe
IYR_price_df

#Drop the index column

         c
0    82.81
1    82.68
2    81.97
3    82.52
4    82.14
..     ...
301  81.37
302  82.02
303  82.67
304  83.54
305  82.97

[306 rows x 1 columns]

In [46]:
#Create a new dataframe with only the closing prices for each stock and ETF
XOM_price_df = pd.DataFrame(XOM_df["c"])

#Review the dataframe
XOM_price_df

#Drop the index column

         c
0    82.89
1    82.24
2    81.21
3    80.56
4    80.24
..     ...
301  71.24
302  71.51
303  72.29
304  73.28
305  75.92

[306 rows x 1 columns]

In [47]:
#Create a new dataframe with only the closing prices for each stock and ETF
XLE_price_df = pd.DataFrame(XLE_df["c"])

#Review the dataframe
XLE_price_df

#Drop the index column

         c
0    69.26
1    68.14
2    67.37
3    67.10
4    67.43
..     ...
301  62.30
302  62.49
303  63.37
304  63.78
305  64.89

[306 rows x 1 columns]

In [48]:
#Create a new dataframe with only the closing prices for each stock and ETF
SPY_price_df = pd.DataFrame(SPY_df["c"])

#Review the dataframe
SPY_price_df

#Drop the index column

          c
0    258.33
1    257.73
2    256.44
3    258.62
4    257.86
..      ...
301  263.76
302  263.41
303  267.58
304  269.93
305  270.06

[306 rows x 1 columns]

In [66]:
#Concatenate the tech stock and tech etf price dataframe to create one dataframe of prices for each sector
tech_portfolio_prices_df = pd.concat([AMZN_price_df, RTH_price_df],axis=1, keys=["AMZN","RTH"])

#Review the dataframe
tech_portfolio_prices_df

#Drop NaN values
tech_portfolio_prices_df_.dropna()

NameError: name 'tech_portfolio_prices_df_' is not defined

In [63]:
#Concatenate the tech stock and tech etf price dataframe to create one dataframe of prices for each sector
RE_portfolio_prices_df = pd.concat([AMT_price_df, IYR_price_df],axis=1, keys=["AMT","IYR"])

#Review the dataframe
RE_portfolio_prices_df

#Drop NaN values
RE_portfolio_prices_df = RE_portfolio_prices_df_.dropna()

NameError: name 'RE_portfolio_prices_df_' is not defined

In [64]:
#Concatenate the tech stock and tech etf price dataframe to create one dataframe of prices for each sector
energy_portfolio_prices_df = pd.concat([XOM_price_df, XLE_price_df],axis=1, keys=["XOM","XLE"])

#Review the dataframe
energy_portfolio_prices_df

#Drop NaN values
#energy_portfolio_prices_df = energy_portfolio_prices_df_.dropna()

       XOM    XLE
         c      c
0    82.89  69.26
1    82.24  68.14
2    81.21  67.37
3    80.56  67.10
4    80.24  67.43
..     ...    ...
301  71.24  62.30
302  71.51  62.49
303  72.29  63.37
304  73.28  63.78
305  75.92  64.89

[306 rows x 2 columns]

In [42]:
#Display all sectors of the stock/ETF dataframes
dfT_style = tech_portfolio_prices_df.style.set_table_attributes("style='display:inline; margin-right:20px;'").set_caption("Tech")
dfR_style = RE_portfolio_prices_df.style.set_table_attributes("style='display:inline'").set_caption("Real Estate")
dfE_style = RE_portfolio_prices_df.style.set_table_attributes("style='display:inline'").set_caption("Energy")


display_html(dfT_style._repr_html_() + dfR_style._repr_html_() + dfE_style._repr_html_(), raw=True)

NameError: name 'display_html' is not defined